# Homework 3: Data Types, User Input, and Data Structures

Fawaz Asif

1001875463

DATA-3401-001

### Questions:

1. Printing, Data Types, and Input


Ask the user for their name and their age.

Print a statement saying: "Hello, [name]. You are [age] years old."

Print the data type of each variable.

In [9]:
name = input('What is your name? ')
age = input('What is your age? ')
print(f'Hello {name}. You are {age} years old.')

What is your name? Jeff
What is your age? 12
Hello Jeff You are 12 years old.

2. String Manipulations and Input


Ask the user for the name of their hometown.

Print the name of the hometown in uppercase.

Print the first three characters of the hometown's name using slicing.

Printing the name in reverse using slicing.

In [4]:
htown = input('What is the name of your hometown? ')
print(htown.upper())
print(htown[:3])
print(htown[::-1])

What is the name of your hometown? Grand Prairie
GRAND PRAIRIE
Gra
eiriarP dnarG

3. Numeric Operations and Input

Prompt the user to enter a number.

Multiply the number by itself and print the result.

Calculating the square root.

In [9]:
num = float(input('Enter a number: '))
square = num**2
root = num**.5
print(square)
print(root)

Enter a number: 12
144.0
3.4641016151377544

4. Boolean Evaluations


Print the result of the following evaluations:

10 > 5

10 == 10

8 != 9

In [11]:
print(10 > 5)
print(10 == 10)
print(8 != 9)

True
True
True

5. List Creation and Operations


Create a list named colors containing the following items: red, blue, green.

Print the list.

Print the first item in the list.

Replace the second item in the list with yellow.

Print the list again.

Changing the last item using negative indexing.

In [23]:
colors = ['red', 'blue', 'green']
print(colors)
print(colors[0])
colors[1] = 'yellow'
print(colors)
colors[-1] = 'orange'
print(colors)

['red', 'blue', 'green']
red
['red', 'yellow', 'green']
['red', 'yellow', 'orange']

6. Indexing and Slicing


Given the list numbers = [10, 20, 30, 40, 50]

Print the third item from the list.

Using slicing, print the first two numbers.

Getting the last three numbers using negative indexing and slicing.

In [28]:
nums = [10, 20, 30, 40, 50]
print(nums[2])
print(nums[:2])
print(nums[-3:])

30
[10, 20]
[30, 40, 50]

7. Manipulating Elements


Given the list animals = ['cat', 'dog', 'bird']

Print the list.

Add fish to the end of the list.

Print the updated list.

In [22]:
animals =  ['cat', 'dog', 'bird']
print(animals)
animals.append('fish')
print(animals)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird', 'fish']

8. Sorting


Given the list random_numbers = [42, 8, 15, 23, 16]

Print the list.

Use the sort() method to sort the list.

Print the sorted list.

Print every second item from the sorted list.

In [31]:
rnum = [42, 8, 15, 23, 16]
print(rnum)
rnum.sort()
print(rnum)
evother = rnum[::2]
print(evother)

[42, 8, 15, 23, 16]
[8, 15, 16, 23, 42]
[8, 16, 42]