#Question 1: Printing, Data Types, and Input

In [ ]:
#Ask the user for their name and age
Name=input('Enter Name: ')
Age=int(input('Enter Age'))

#Print a statement saying:"Hello, [name]. You are [age] years old"
print('Hello, ',Name,'. You are',Age, 'years old.')

#print data type of each variable
print(type(Name))
print(type(Age))

Enter Name: Sarah
Enter Age33
Hello,  Sarah . You are 33 years old.
<class 'str'>
<class 'int'>

#Quesion 2: String Manipulations and Input

In [ ]:
#Ask the user for the name of their hometown
Hometown=input('Hometown')

#print Hometown in uppercase
print(Hometown.upper())

#Print the first three characters of the hometown's name using slicing.
print(Hometown[0:3])

#Print the name in reverse using slicing #NOT WORKING COME BACK!!!!
print(Hometown[::-1])

Hometownjygfth
JYGFTH
jyg
htfgyj

#Question 3: Numeric Operations and Input

In [7]:
#Prompt the user to enter a number.
Number=float(input('Enter number of your choice: '))

#multipy the number by itself
print('Multiplied by itself: ', Number*Number)

#Calulatiing the square root ###ASK ABOUT THE EXACT MEANING OF QUESTION
import math
print('Square Root: ', (Number)**(1/2))

Enter number of your choice: 25
Multiplied by itself:  625.0
Square Root:  5.0

#Question 4: Boolean Evaluations

In [9]:
print(10>5)
print(10==10)
print(8!=9)

True
True
True

#Question 5: List Creation and Operations

In [19]:
#create list of colors
colors=['red','blue','green']

#print list of colors
print(colors)

#print the first item in list
print(colors[0])

#replace second item with yellow
colors[1]='yellow'

#print list
print(colors)

#change last item with negative indexing
colors[-1]='purple'
print(colors)

['red', 'blue', 'green']
red
['red', 'yellow', 'green']
['red', 'yellow', 'purple']

#Question 6: Indexing and Slicing

In [27]:
n=[10,20,30,40,50]

#print 3rd idtem from the list
print(n[2])

#use slicing to print the first two numbers
print(n[0:2])

#get the last three numbers using negative indexing and slicing
print(n[-3:])

30
[10, 20]
[30, 40, 50]

#Question 7: Manipulating Elements

In [28]:
animals=['cat', 'dog', 'bird']

#print the list
print(animals)

#add fish to the end of the list
animals.append('fish')

#print list
print(animals)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird', 'fish']

#Question 8: Sorting

In [31]:
random_numbers = [42, 8, 15, 23, 16]

#print list
print(random_numbers)

#use sort() to sort the list
random_numbers.sort()

#print sorted list
print(random_numbers)

#print every second item from the sorted list
print(random_numbers[1::2])

[42, 8, 15, 23, 16]
[8, 15, 16, 23, 42]
[15, 23]