Name: Christine Pham

ID: 1001705879

# **1. Printing, Data Types, and Inputs**

- Ask the user for their name and their age.
- Print a statement saying: "Hello, [name]. You are [age] years old."
- Print the data type of each variable.

In [1]:
name=input('What is your name?')

What is your name? Chris

In [2]:
age=input("What is your age?")

What is your age? 20

In [3]:
print("Hello,",name,". You are",age,"years old.")

Hello, Chris . You are 20 years old.

In [4]:
type(age)

str

In [5]:
type(name)

str

***
***

# **2. String Manipulations and Input**

- Ask the user for the name of their hometown.
- Print the name of the hometown in uppercase.
- Print the first three characters of the hometown's name using slicing.
- Printing the name in reverse using slicing.

In [6]:
town=input("What is your hometown?")

What is your hometown?Arington

In [7]:
town.upper()

'ARINGTON'

In [8]:
town[:3]

'Ari'

In [9]:
town[::-1]

'notgnirA'

***
***

# **3. Numeric Operations and Input**

- Prompt the user to enter a number.
- Multiply the number by itself and print the result.
- Calculating the square root.

In [3]:
x=int(input("Enter a number:"))

Enter a number:8

In [7]:
prod=x*x
print(prod)

64

In [15]:
root=prod**.5
print(root)

8.0

***
***

# **4. Boolean Evaluations**

- Print the result of the following evaluations:
    - 10 > 5
    - 10 == 10
    - 8 != 9

In [16]:
10>5

True

In [17]:
10==10

True

In [18]:
8!=9

True

***
***

# **5. List Creation and Operations**

- Create a list named colors containing the following items: red, blue, green.
- Print the list.
- Print the first item in the list.
- Replace the second item in the list with yellow.
- Print the list again.
- Changing the last item using negative indexing.

In [26]:
color=["red","green","blue"]
print(color)

['red', 'green', 'blue']

In [27]:
color[0]

'red'

In [28]:
color[1]="yellow"
print(color)

['red', 'yellow', 'blue']

In [29]:
color[-1]="pink"
print(color)

['red', 'yellow', 'pink']

***
***

# **6. Indexing and Slicing**

- Given the list numbers = [10, 20, 30, 40, 50]
- Print the third item from the list.
- Using slicing, print the first two numbers.
- Getting the last three numbers using negative indexing and slicing.

In [30]:
numbers=[10,20,30,40,50]

In [31]:
numbers[2]

30

In [33]:
numbers[:2]

[10, 20]

In [35]:
numbers[-3:]

[30, 40, 50]

***
***

# **7. Manipulating Elements**

- Given the list animals = ['cat', 'dog', 'bird']
- Print the list.
- Add fish to the end of the list.
- Print the updated list.

In [37]:
animals=["cat","dog","bird"]
print(animals)

['cat', 'dog', 'bird']

In [38]:
animals.append("fish")
print(animals)

['cat', 'dog', 'bird', 'fish']

***
***

# **8. Sorting**

- Given the list random_numbers = [42, 8, 15, 23, 16]
- Print the list.
- Use the sort() method to sort the list.
- Print the sorted list.
- Print every second item from the sorted list.

In [40]:
random_numbers=[42,8,15,23,16]
print(random_numbers)

[42, 8, 15, 23, 16]

In [46]:
random_numbers.sort(reverse=False)
print(random_numbers)

[8, 15, 16, 23, 42]

In [48]:
random_numbers[::2]

[8, 16, 42]