Yvonne Guajardo

# Homework 3

## 1. Printing, Data Types, and Input 
- Ask the user for their name and their age/
- Print a statement saying: "Hello, [name]. You are [age] years old."
- Print the data type of each variable

In [214]:
name = input("Enter your name: ")
age = int(input("Enter your age: "))

Enter your name: Bob
Enter your age: 100

In [215]:
print("Hello,",name + ".", "You are",age, "years old.")

Hello, Bob. You are 100 years old.

In [37]:
print(type(name))

<class 'str'>

In [38]:
print(type(age))

<class 'int'>

# 2. String Manipulations and Input
- Ask the user for the name of their hometown. 
- Print the name of the hometown in uppercase.
- Print the first three characters of the hometown's name using slicing. 
- Printing the name in reverse using slicing.

In [2]:
hometown = input("Enter your hometown: ")

Enter your hometown: Fort Walton Beach

In [3]:
print(str.upper(hometown))

FORT WALTON BEACH

In [4]:
print(hometown[0:3])

For

In [5]:
print(hometown[::-1])

hcaeB notlaW troF

# 3. Numeric Operations and Input
- Prompt the user to enter a number. 
- Multiply the number by itself and print the result.
- Calculating the square root.

In [10]:
number = int(input("Enter a number: "))

Enter a number: 81

In [11]:
(print(number**2))

6561

In [12]:
import math

In [13]:
print(math.sqrt(number))

9.0

# 4. Boolean Evaluations
-  Print the result of the following evaluations. 
    - 10 > 5
    - 10 == 10
    - 8 != 9

In [91]:
(print(10 > 5))

True

In [92]:
print(10 == 10)

True

In [93]:
print(8 != 9)

True

# 5. List Creation and Operations
- Create a list named colors containing the following items: red, blue, green.
- Print the list. 
- Print the first item in the list. 
- Replace the second item in the list with yellow. 
- Print the list again.
- Changing the last item using negative indexing.

In [229]:
colors = ["red","blue","green"]

In [230]:
print(colors)

['red', 'blue', 'green']

In [231]:
print(colors[0:1])

['red']

In [232]:
colors[1] = "yellow"

In [233]:
print(colors)

['red', 'yellow', 'green']

In [234]:
colors[-1] = "pink"

In [235]:
print(colors)

['red', 'yellow', 'pink']

# 6. Indexing and Slicing
- Given the list numbers = [10,20,30,40,50]
- Print the third item from the list. 
- Using slicing, print the first two numbers. 
- Getting the last three numbers using negative indexing and slicing.

In [146]:
numbers = [10, 20, 30, 40, 50]

In [138]:
print(numbers[2])

30

In [239]:
print(numbers[0:2])

[10, 20]

In [240]:
print(numbers[-3:])

[30, 40, 50]

# 7. Manipulating Elements
- Given the list animals = ['cat','dog','bird']
- Print the list.
- Add fish to the end of the list.
- Print the updated list.

In [241]:
animals = ['cat', 'dog', 'bird']

In [242]:
print(animals)

['cat', 'dog', 'bird']

In [243]:
animals.append('fish')

In [244]:
print(animals)

['cat', 'dog', 'bird', 'fish']

# 8. Sorting
- Given the list random_numbers = [42,8,15,23,16]
- Print the list. 
- Use the sort() method to sort the list. 
- Print the sorted list. 
- Print every second item from the sorted list.

In [201]:
random_numbers = [42, 8, 15, 23, 16]

In [202]:
print(random_numbers)

[42, 8, 15, 23, 16]

In [204]:
random_numbers.sort()

In [205]:
print(random_numbers)

[8, 15, 16, 23, 42]

In [212]:
print((random_numbers[0::2]))

[8, 16, 42]