# **Homework 3: Data Types, User Input, and Data Structure**
### Angela Hyson
### Due date: September 22nd (extended: Sep. 27)

## **Part 1: Printing, Data Types, and Input**

In [ ]:
# Ask the user for their name and their age.
name=input('Enter your name: ')
age=int(input('Enter your age: ')) # Changed inputted age from a string into an integer

# Print a statement saying: "Hello, [name]. You are [age] years old."
print('Hello,', name+ '. You are', age, 'years old.')

Enter your name: Angela
Enter your age: 20
Hello, Angela. You are 20 years old.

In [ ]:
# Print the data type of each variable.
type(name)

str

In [ ]:
type(age)

int

## **Part 2: String Manipulations and Input**

In [ ]:
# Ask the user for the name of their hometown.
home=input('Enter your hometown: ')

# Print the name of the hometown in uppercase.
home.upper
print(home)

Enter your hometown: Fayetteville
Fayetteville

In [ ]:
# Print the first three characters of the hometown's name using slicing.
home[:3]

'Fay'

In [ ]:
# Printing the name in reverse using slicing.
home[::-1]

'ellivetteyaF'

## **Part 3: Numeric Operations and Input**

In [ ]:
# Prompt the user to enter a number.
num=int(input('Enter a number: '))

# Multiply the number by itself and print the result.
num*num

Enter a number: 5

25

In [ ]:
# Calculating the square root.
pro=num*num
import math
math.sqrt(pro)

5.0

## **Part 4: Boolean Evaluations**

In [ ]:
# Print the result of the following evaluations:
10 > 5

True

In [ ]:
10 == 10

True

In [ ]:
8 != 9

True

## **Part 5: List Creation and Operations**

In [2]:
# Create a list named colors containing the following items: red, blue, green.
colors=['red','blue','green']

# Print the list.
print(colors)

['red', 'blue', 'green']

In [3]:
# Print the first item in the list.
colors[0]

'red'

In [4]:
# Replace the second item in the list with yellow.
colors[1]='yellow'

# Print the list again.
print(colors)

['red', 'yellow', 'green']

In [6]:
# Changing the last item using negative indexing.
colors[-1]='purple' #changed last item (blue) to purple
print(colors)

['red', 'yellow', 'purple']

## **Part 6: Indexing and Slicing**

In [10]:
# Given the list numbers = [10, 20, 30, 40, 50]
list_num=[10,20,30,40,50]

# Print the third item from the list.
print(list_num[2])

30

In [12]:
# Using slicing, print the first two numbers.
print(list_num[0:2])

[10, 20]

In [16]:
# Getting the last three numbers using negative indexing and slicing.
print(list_num[-3:])

[30, 40, 50]

## **Part 7: Manipulating Elements**

In [17]:
# Given the list animals = ['cat', 'dog', 'bird']
animals=['cat','dog','bird']

# Print the list.
print(animals)

['cat', 'dog', 'bird']

In [18]:
# Add fish to the end of the list.
animals.append('fish')

# Print the updated list.
print(animals)

['cat', 'dog', 'bird', 'fish']

## **Part 8: Sorting**

In [19]:
# Given the list random_numbers = [42, 8, 15, 23, 16]
random_num=[42,8,15,23,16]

# Print the list.
print(random_num)

[42, 8, 15, 23, 16]

In [21]:
# Use the sort() method to sort the list.
random_num.sort()

# Print the sorted list.
print(random_num)

[8, 15, 16, 23, 42]

In [22]:
# Print every second item from the sorted list.
print(random_num[::2])

[8, 16, 42]