##Name: Ploy Suksangiam
###UTA ID: 1001914169

#Questions:

##1. Printing, Data Types, and Input


* Ask the user for their name and their age.
* Print a statement saying: "Hello, [name]. You are [age] years old."
* Print the data type of each variable.

In [16]:
name=input("Please enter your name:")
age=input("Please enter your age: ")

print("Hello"",",name,"."," You are",age,"years old." )

Please enter your name:ploy
Please enter your age: 26
Hello, ploy .  You are 26 years old.

#2. String Manipulations and Input


* Ask the user for the name of their hometown.
* Print the name of the hometown in uppercase.
* Print the first three characters of the hometown's name using slicing.
* Printing the name in reverse using slicing.

In [82]:
hometown=input("What is the name of your hometown?: ")
uppercase_hometown = hometown.upper()
print("Your home town is:", uppercase_hometown)

What is the name of your hometown?: Dallas
Your home town is: DALLAS

In [84]:
first_three_characters=hometown[:3]
print(first_three_characters)

Dal

In [92]:
name_reverse=hometown[::-1]
print(name_reverse)

sallaD

#3. Numeric Operations and Input


* Prompt the user to enter a number.
* Multiply the number by itself and print the result.
* Calculating the square root.

In [48]:
num=float(input("Enter a number: "))

result=num*num
print("Result of multiplying: ",result)

square_root=math.sqrt(result)
print("Result of the square root: ", square_root)

Enter a number: 5
Result of multiplying:  25.0
Result of the square root:  5.0

# 4. Boolean Evaluations


* Print the result of the following evaluations:
  * 10 > 5
  * 10 == 10
  * 8 != 9

In [49]:
x=10
x>5

True

In [50]:
x==x

True

In [51]:
10==10

True

In [52]:
8!=9

True

#5. List Creation and Operations


* Create a list named colors containing the following items: red, blue, green.
*Print the list.
*Print the first item in the list.
*Replace the second item in the list with yellow.
*Print the list again.
*Changing the last item using negative indexing.

In [57]:
colors=["red","blue","green"]
print(colors)

['red', 'blue', 'green']

In [59]:
first_element=colors[0]
print(first_element)

red

In [61]:
new_color="yellow"
colors[1]=new_color
print(colors)

['red', 'yellow', 'green']

In [63]:
new_last_item="blue"
colors[-1]=new_last_item
print(colors)

['red', 'yellow', 'blue']


#6. Indexing and Slicing


* Given the list numbers = [10, 20, 30, 40, 50]
* Print the third item from the list.
* Using slicing, print the first two numbers.
* Getting the last three numbers using negative indexing and slicing.

In [66]:
num=[10,20,30,40,50]
third_item=num[2]

print(third_item)

30

In [69]:
last_three_numbers=num[-3:]
print(last_three_numbers)

[30, 40, 50]

#7. Manipulating Elements


* Given the list animals = ['cat', 'dog', 'bird']
* Print the list.
* Add fish to the end of the list.
* Print the updated list.

In [74]:
animals=['cat','dog','bird']
animals

['cat', 'dog', 'bird']

In [76]:
new_item="fish"
animals.append(new_item)

print(animals)

['cat', 'dog', 'bird', 'fish']

#8. Sorting


* Given the list random_numbers = [42, 8, 15, 23, 16]
* Print the list.
* Use the sort() method to sort the list.
* Print the sorted list.
* Print every second item from the sorted list.

In [77]:
random_numbers=[42,8,15,23,16]
print(random_numbers)

[42, 8, 15, 23, 16]

In [79]:
random_numbers.sort()
print(random_numbers)

[8, 15, 16, 23, 42]

In [81]:
second_item=random_numbers[1::2]  #slicing notation [::]
print(second_item)

[15, 23]