1001991733 Fabiola Chavez

## 1. Printing Data Types, and Input

- Ask the user for their name and their age.
- Print a statement saying: "Hello, [name]. You are [age] years old."
- Print the data type of each variable

In [27]:
name= input("Please enter your name: ")                     # asking user for their name

Please enter your name: Fabi

In [28]:
age= int(input("Please enter your age: "))                  # asking user for their age

Please enter your age: 19

In [29]:
print("Hello", name, "you are", age, "years old")          # print a statement

Hello Fabi you are 19 years old

In [30]:
type(name)                                                 # print the data type of each variable

str

In [31]:
type(age)                                                  # print the date type of each variable

int

## 2. String Manipulations and Input
- Ask the user for the name of their hometown.
- Print the name of the hometown in uppercase.
- Print the first three characters of the hometown's name using slicing.
- Printing the name in reverse using slicing.

In [21]:
hometown= input("What is the name of your hometown: ") # ask the user for the name of their hometown

What is the name of your hometown: Dallas

In [35]:
print(hometown.upper())                                # print the name of the hometown in uppercase

DALLAS

In [39]:
print(hometown[0:3])                                # print the first three chracters of the hometown's name using slicing

Dal

In [47]:
print(hometown[::-1])                               # print the name in reverse using slicing

sallaD

## 3. Numeric Operations and Input
- Prompt the user to enter a number.
- Multiply the number by itself and print the result.
- Calculating the square root.

In [48]:
num= int(input("Please enter a number: "))        # prompt the user to enter a number

Please enter a number: 2

In [54]:
num2= num**2                                     # multiply the number by itself and print the result           
print(num2)

4

In [53]:
(num2)**(1/2)                                    # calculate the square root

2.0

## 4. Boolean Evaluations
Print the result of the following evaluations:
- 10 > 5
- 10 == 10
- 8 != 9

In [55]:
10>5

True

In [56]:
10==10

True

In [57]:
8 != 9

True

## 5. List Creation and Operations
- Create a list named colors containing the following items: red, blue, green.
- Print the list.
- Print the first item in the list.
- Replace the second item in the list with yellow.
- Print the list again.
- Changing the last item using negative indexing.

In [72]:
colors = ["red", "blue", "green"]            #create a list named colors

In [73]:
print(colors)                               #print the list

['red', 'blue', 'green']

In [74]:
print(colors[0])                            #print the first item in the list

red

In [75]:
colors[1]= "yellow"                         #replace the second item in the list with yellow

In [76]:
print(colors)                               #print the list again

['red', 'yellow', 'green']

In [77]:
colors[-1]="purple"                     #changing the last item using negative indexing

In [78]:
print(colors)

['red', 'yellow', 'purple']

## 6. Indexing and Slicing
- Given the list numbers = [10, 20, 30, 40, 50]
- Print the third item from the list.
- Using slicing, print the first two numbers.
- Getting the last three numbers using negative indexing and slicing.

In [79]:
numbers = [10,20,30,40,50]

In [80]:
numbers[2]                             #Print the third item from the list

30

In [83]:
numbers[0:2]                           #using slicing print the first two numbers

[10, 20]

In [85]:
numbers[-3:]                           #getting the last three numbers using negative indexing and slicing

[30, 40, 50]

## 7. Manipulating Elements
- Given the list animals = ['cat', 'dog', 'bird']
- Print the list.
- Add fish to the end of the list.
- Print the updated list.

In [86]:
animals = ["cat","dog","bird"]

In [87]:
print(animals)                         #print the list

['cat', 'dog', 'bird']

In [90]:
animals.append("fish")                                   #add fish to the end of the list

In [91]:
print(animals)

['cat', 'dog', 'bird', 'fish']

## 8. Sorting
- Given the list random_numbers = [42, 8, 15, 23, 16]
- Print the list.
- Use the sort() method to sort the list.
- Print the sorted list.
- Print every second item from the sorted list.

In [92]:
random_numbers=[42,8,15,23,16]

In [93]:
print(random_numbers)

[42, 8, 15, 23, 16]

In [95]:
random_numbers.sort()             #use the sort() method to sort the list

In [96]:
print(random_numbers)             #print the sorted list

[8, 15, 16, 23, 42]

In [99]:
random_numbers[1::2]              #print every second item from the sorted list

[15, 23]