<a href="https://colab.research.google.com/github/shelbiburgett/Data-3401/blob/main/Homework3_BURGETT_SHELBI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Printing, Data Types, and Input

        Ask the user for their name and their age.
        Print a statement saying: "Hello, [name]. You are [age] years old."
        Print the data type of each variable.

In [ ]:
name=input('What is your name?')
age=input('What is your age?')
print("Hello", (name),". You are", (age), "years old." )

What is your name?Shelbi
What is your age?25
Hello Shelbi . You are 25 years old.

2. String Manipulations and Input

        Ask the user for the name of their hometown.
        Print the name of the hometown in uppercase.
        Print the first three characters of the hometown's name using slicing.
        Printing the name in reverse using slicing.

In [ ]:
hometown=input('What is the name of your hometown?')
print(hometown.upper())
print(hometown[:3])

What is the name of your hometown?Fort Worth
FORT WORTH
For

In [ ]:
hometown=hometown[::-1]
print(hometown)

htroW troF

3. Numeric Operations and Input

        Prompt the user to enter a number.
        Multiply the number by itself and print the result.
        Calculating the square root.

In [5]:
n = int(input("Enter the integer to square: "))

output =n*n

print(output)

Enter the integer to square: 25
625

In [8]:
>>> import math
math.sqrt(625)

25.0

4. Boolean Evaluations

        Print the result of the following evaluations:
            10 > 5
            10 == 10
            8 != 9

In [9]:
10 > 5
10 == 10
8 != 9

True

5. List Creation and Operations

        Create a list named colors containing the following items: red, blue, green.
        Print the list.
        Print the first item in the list.
        Replace the second item in the list with yellow.
        Print the list again.
        Changing the last item using negative indexing.

In [ ]:
colors=['red','blue','green']
colors

['red', 'blue', 'green']

In [ ]:
colors [0]

'red'

In [ ]:
colors[1]='yellow'
colors

['red', 'yellow', 'green']

In [ ]:
colors[-1]='purple'
colors

['red', 'yellow', 'purple']

6. Indexing and Slicing

        Given the list numbers = [10, 20, 30, 40, 50]
        Print the third item from the list.
        Using slicing, print the first two numbers.
        Getting the last three numbers using negative indexing and slicing.

In [ ]:
list=[10,20,30,40,50]
list[2]

30

In [ ]:
list[:2]

[10, 20]

In [ ]:
list[-3:]

[30, 40, 50]

7. Manipulating Elements

        Given the list animals = ['cat', 'dog', 'bird']
        Print the list.
        Add fish to the end of the list.
        Print the updated list.

In [ ]:
animals=['cat','dog','bird']
animals

['cat', 'dog', 'bird']

In [ ]:
animals.append('fish')
animals

['cat', 'dog', 'bird', 'fish']

8. Sorting

        Given the list random_numbers = [42, 8, 15, 23, 16]
        Print the list.
        Use the sort() method to sort the list.
        Print the sorted list.
        Print every second item from the sorted list.

In [ ]:
random_numbers=[42,8,15,23,16]
random_numbers

[42, 8, 15, 23, 16]

In [ ]:
random_numbers.sort()
random_numbers

[8, 15, 16, 23, 42]

In [ ]:
subList=random_numbers[1::2]
subList

[15, 23]