#**Homework 3**
###*ID: 1002144121*

##**1. Printing, Data Types, and Input**

1.1 Ask the user for their name and age

In [5]:
user_name = input("Enter your name: ")
user_age = int(input("Enter your age: "))

Enter your name: Landon
Enter your age: 18

1.2 Print a statement saying: "Hello, [name]. You are [age] years old."

In [6]:
print("Hello,", user_name +". You are", user_age, "years old.")

Hello, Landon. You are 18 years old.

1.3 Print the data type of each variable

In [7]:
print(type(user_name))
print(type(user_age))

<class 'str'>
<class 'int'>

##**2. String Manipulations and Input**

2.1 Ask the user for the name of their hometown.

In [28]:
user_hometown = input("Enter the name of your hometown: ")

Enter the name of your hometown: dallas

2.2 Print the name of the hometown in uppercase

In [29]:
print(user_hometown.upper())

DALLAS

2.3 Print the first three characters of the hometown's name using slicing.

In [30]:
print(user_hometown[0:3])

dal

2.4 Print the name in reverse using slicing

In [48]:
print(user_hometown[-1::-1])

sallad

##**3. Numeric Operations and Input**

3.1 Prompt the user to enter a number

In [50]:
num = int(input("Enter a number: "))

Enter a number: 12

3.2 Multiply the number by itself and print the result

In [52]:
print(num*num)

144

3.3 Calculating the square root

In [55]:
import math
math.sqrt(num)

3.4641016151377544

##**4. Boolean Evaluations**

4.1
Print the result of the following evaluations:

10 > 5

10 == 10

8 != 9

In [56]:
10>5

True

In [57]:
10==10

True

In [58]:
8!=9

True

##**5. List Creation and Operations**

5.1 Create a list named colors containing the following items: red, blue, green

In [59]:
colors = ["red", "blue", "green"]

5.2 Print the list

In [60]:
print(colors)

['red', 'blue', 'green']

5.3 Print the first item in the list

In [61]:
print(colors[0])

red

5.4 Replace the second item in the list with yellow

In [63]:
colors[1] = "yellow"

5.5 Print the list again

In [65]:
print(colors)

['red', 'yellow', 'green']

5.6 Changing the last item using negative indexing

In [86]:
colors[-1] = "orange"

##**6. Indexing and Slicing**

6.1 Given the list numbers = [10, 20, 30, 40, 50]

In [67]:
numbers = [10,20,30,40,50]

6.2 Print the third item from the list

In [68]:
print(numbers[2])

30

6.3 Using slicing, print the first two numbers

In [70]:
print(numbers[1:3])

[20, 30]

6.4 Getting the last three numbers using negative indexing and slicing

In [73]:
print(numbers[-1:-4:-1])

[50, 40, 30]

##**7. Manipulating Elements**

7.1 Given the list animals = ['cat', 'dog', 'bird']

In [74]:
animals = ['cat', 'dog', 'bird']

7.2 Print the list

In [75]:
print(animals)

['cat', 'dog', 'bird']

7.3 Add fish to the end of the list

In [77]:
animals.append('fish')

7.4 Print the updated list

In [78]:
print(animals)

['cat', 'dog', 'bird', 'fish']

##**8. Sorting**

8.1 Given the list random_numbers = [42, 8, 15, 23, 16]

In [79]:
random_numbers = [42, 8, 15, 23, 16]

8.2 Print the list

In [80]:
print(random_numbers)

[42, 8, 15, 23, 16]

8.3 Use the sort() method to sort the list.

In [81]:
random_numbers.sort()

8.4 Print the sorted list

In [82]:
print(random_numbers)

[8, 15, 16, 23, 42]

8.5 Print every second item from the sorted list

In [88]:
print(random_numbers[1::2])

[15, 23]