## 1. Printing, Data Types, and Input


#### Ask the user for their name and their age.
#### Print a statement saying: "Hello, [name]. You are [age] years old."
#### Print the data type of each variable.

In [ ]:
Name= input("Enter you name:")
Age=int(input("How old are you:"))
print("Hello,",Name,". You are",Age,"years old.")

Enter you name:Feyruz
How old are you:23
Hello, Feyruz . You are 23 years old.

In [ ]:
type(Name)

str

In [ ]:
type(Age)

int

## 2. String Manipulations and Input


#### Ask the user for the name of their hometown.
#### Print the name of the hometown in uppercase.
#### Print the first three characters of the hometown's name using slicing.
#### Printing the name in reverse using slicing.

In [ ]:
Hometown=input("What's the name of your hometown:")

Hometown.upper()

What's the name of your hometown:Asmera

'ASMERA'

In [ ]:
Hometown[0:3]

'Asm'

In [ ]:
Hometown[::-1]

'aremsA'

## 3. Numeric Operations and Input


#### Prompt the user to enter a number.
#### Multiply the number by itself and print the result.
#### Calculating the square root.

In [ ]:
num=int(input("Enter a number:"))
Mult=num*num
print(Mult)
print(Mult**2)

Enter a number:5
25
625

## 4. Boolean Evaluations


#### Print the result of the following evaluations:
#### 10 > 5
#### 10 == 10
#### 8 != 9

In [ ]:
10>5

True

In [ ]:
10==10

True

In [ ]:
8!=9

True

## 5. List Creation and Operations


#### Create a list named colors containing the following items: red, blue, green.
#### Print the list.
#### Print the first item in the list.
#### Replace the second item in the list with yellow.
#### Print the list again.
#### Changing the last item using negative indexing.

In [ ]:
colors=["red","blue","green"]
print(colors)

['red', 'blue', 'green']

In [ ]:
colors[0]

'red'

In [ ]:
colors[1]="yellow"

In [ ]:
print(colors)

['red', 'yellow', 'green']

In [ ]:
colors[-1]="Mango"
print(colors)

['red', 'yellow', 'Mango']

## 6. Indexing and Slicing


#### Given the list numbers = [10, 20, 30, 40, 50]
#### Print the third item from the list.
#### Using slicing, print the first two numbers.
#### Getting the last three numbers using negative indexing and slicing.

In [ ]:
numbers=[10,20,30,40,50]

numbers[2]

30

In [ ]:
numbers[:2]

[10, 20]

In [ ]:
numbers[-3:]

[30, 40, 50]

## 7. Manipulating Elements


#### Given the list animals = ['cat', 'dog', 'bird']
#### Print the list.
#### Add fish to the end of the list.
#### Print the updated list.

In [ ]:
animals=["cat","dog","bird"]

print(animals)

['cat', 'dog', 'bird']

In [ ]:
animals.append("fish")

print(animals)

['cat', 'dog', 'bird', 'fish']

## 8. Sorting


#### Given the list random_numbers = [42, 8, 15, 23, 16]
#### Print the list.
#### Use the sort() method to sort the list.
#### Print the sorted list.
#### Print every second item from the sorted list.

In [ ]:
random_numbers=[42,8,15,23,16]

print(random_numbers)

[42, 8, 15, 23, 16]

In [ ]:
random_numbers.sort()

In [ ]:
print(random_numbers)

[8, 15, 16, 23, 42]

In [ ]:
random_numbers[1::2]

[15, 23]