1. Printing, Data Types, and Input


Ask the user for their name and their ag
e.
Print a statement saying: "Hello, [name]. You are [age] years ol
d."
Print the data type of each variable.

In [29]:
#ask for the name
name = input("What's your name? : ")
age = input("what is your age? : ")
#print hello statement
print("Hello, " + name + ". You are " + age + " years old.")
#print the data type of each variable
print("name variable is a string")
print("age variable is an integer")

What's your name? :  Ron
what is your age? :  54

Hello, Ron. You are 54 years old.
name variable is a string
age variable is an integer

2. String Manipulations and Input


Ask the user for the name of their hometow
n.
Print the name of the hometown in upperca
se.
Print the first three characters of the hometown's name using slic
ing.
Printing the name in reverse using slicing.

In [34]:
hometown = input("Where are you from? :")
print(hometown.upper())
print(hometown[:3])
print(hometown[::-1])

Where are you from? : Dallas

DALLAS
Dal
sallaD

3. Numeric Operations and Input


Prompt the user to enter a numbe
r.
Multiply the number by itself and print the resu
lt.
Calculating the square root.

In [56]:
while True:
    number1 = input("enter a number : ")

    try:
        number1 = int(number1)
        result = number1 * number1
        print(result)
        sqrt = number1 ** 0.5
        print(sqrt)
        break

    except ValueError:
        print("Invalid number. Please try again")

enter a number :  ewr

Invalid number. Please try again

enter a number :  wr

Invalid number. Please try again

enter a number :  4

16
2.0

4. Boolean Evaluations


Print the result of the following evaluations:

10 > 5

10 == 10

8 != 9

In [57]:
print(10 > 5)
print(10 == 10)
print(8 != 9)

True
True
True

5. List Creation and Operations


Create a list named colors containing the following items: red, blue, gree
n.
Print the li
st.
Print the first item in the l
ist.
Replace the second item in the list with ye
llow.
Print the list 
again.
Changing the last item using negative indexing.

In [63]:
colors = ["red", "blue", "green"]
print(colors)
print(colors[0])
colors[1] = "yellow"
print(colors)
colors[-1] = "violet"
print(colors)

['red', 'blue', 'green']
red
['red', 'yellow', 'green']
['red', 'yellow', 'violet']

6. Indexing and Slicing


Given the list numbers = [10, 20, 30, 40, 50]
Print the third item from the list.
Using slicing, print the first two numbers.
Getting the last three numbers using negative indexing and slicing.

In [68]:
list = [10, 20, 30, 40, 50]
print(list[2])
print(list[:2])
print(list[-3:])

30
[10, 20]
[30, 40, 50]

7. Manipulating Elements


Given the list animals = ['cat', 'dog', 'bird']
Print the list.
Add fish to the end of the list.
Print the updated list.icing.

In [71]:
list = ["cat", "dog", "bird"]
print(list)
list.append("fish")
print(list)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird', 'fish']

8. Sorting


Given the list random_numbers = [42, 8, 15, 23, 16]

Print the list.

Use the sort() method to sort the list.

Print the sorted list.

Print every second item from the sorted list.

In [74]:
list = [42, 8, 15, 23, 16]
print(list)
list.sort()
print(list)
print(list[1::2])

[42, 8, 15, 23, 16]
[8, 15, 16, 23, 42]
[15, 23]