##**1. Printing, Data Types, and Input**

Ask the user for their name and their age.

Print a statement saying: "Hello, [name]. You are [age] years old."

Print the data type of each variable.

In [ ]:
name= input("Enter Name: ")
age= input("Enter Age:")

Enter Name: Olivia
Enter Age:20

In [ ]:
print ("Hello", name, ".You are", age,"years old.")

Hello Olivia .You are 20 years old.

In [ ]:
type (name)

str

In [ ]:
type (age)

str

##**2. String Manipulations and Input**

Ask the user for the name of their hometown.

Print the name of the hometown in uppercase.

Print the first three characters of the hometown's name using slicing.

Printing the name in reverse using slicing.

In [ ]:
hometown= input("Enter hometown:")
hometown.upper ()

Enter hometown:Queens

'QUEENS'

In [ ]:
hometown=hometown[:3]
print (hometown)

Que

In [ ]:
hometown=hometown[::-1]
print (hometown)

Que

##**3. Numeric Operations and Input**

Prompt the user to enter a number.

Multiply the number by itself and print the result.

Calculating the square root.

In [ ]:
number=input("Enter a number: ")
number= float(number)
square= number*number
print ("square:", square)
square**.5

Enter a number: 8
square: 64.0

8.0

##**4. Boolean Evaluations**

Print the result of the following evaluations:
10 > 5

10 == 10

8 != 9

In [ ]:
print ("10 > 5:",10 > 5)
print ("10 == 10:", 10 == 10)
print ("8!=9", 8!=9)

10 > 5: True
10 == 10: True
8 !=9 True

##**5. List Creation and Operations**

Create a list named colors containing the following items: red, blue, green.

Print the list.

Print the first item in the list.
Replace the second item in the list with yellow.

Print the list again.

Changing the last item using negative indexing.

In [ ]:
colors=["red", "blue", "green"]
print (colors)

['red', 'blue', 'green']

In [ ]:
print (colors[0])

red

In [ ]:
colors[0]="yellow"
print (colors)

['yellow', 'blue', 'green']

In [ ]:
colors[-1]="orange"
print (colors)

['yellow', 'blue', 'orange']

##**6. Indexing and Slicing**

Given the list numbers = [10, 20, 30, 40, 50]

Print the third item from the list.

Using slicing, print the first two numbers.

Getting the last three numbers using negative indexing and slicing.

In [ ]:
numbers= [10, 20, 30, 40, 50]
numbers[2]

30

In [ ]:
numbers[:2]

[10, 20]

In [ ]:
numbers[-3:]

[30, 40, 50]

##**7. Manipulating Elements**

Given the list animals = ['cat', 'dog', 'bird']

Print the list.

Add fish to the end of the list.

Print the updated list.

In [ ]:
animals=['cat', 'dog', 'bird']
print (animals)
animals.append ('fish')
print (animals)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird', 'fish']

##**8. Sorting**

Given the list random_numbers = [42, 8, 15, 23, 16]

Print the list.

Use the sort() method to sort the list.

Print the sorted list.

Print every second item from the sorted list.

In [ ]:
random_numbers=[42, 8, 15, 23, 16]
print (random_numbers)

[42, 8, 15, 23, 16]

In [ ]:
random_numbers.sort()
print (random_numbers)

[8, 15, 16, 23, 42]

In [ ]:
random_numbers[2::2]

[16, 42]