# **1. Printing, Data Types, and Input**

- Ask the user for their name and their age.

In [ ]:
name=input("Enter Your Name: ")
age=int(input("Enter Your Age: "))

Enter Your Name: Phat Dinh
Enter Your Age: 19

- Print a statement saying: "Hello, [name]. You are [age] years old."

In [ ]:
print("Hello", name, ". You are ", age, "years old")

Hello Phat Dinh . You are  19 years old

- Print the data type of each variable.

In [ ]:
type(name)

str

In [ ]:
type(age)

int

# **2. String Manipulations and Input**

- Ask the user for the name of their hometown.

In [ ]:
hometown=input("Hometown: ")

Hometown: Ho Chi Minh City

- Print the name of the hometown in uppercase.

In [ ]:
hometown.upper()

'HO CHI MINH CITY'

- Print the first three characters of the hometown's name using slicing.

In [ ]:
hometown[0:3]

'Ho '

- Printing the name in reverse using slicing.

In [ ]:
hometown[::-1]

'ytiC hniM ihC oH'

# **3. Numeric Operations and Input**

- Prompt the user to enter a number.

In [ ]:
num=int(input("Enter a Number: "))

Enter a Number: 22

- Multiply the number by itself and print the result.

In [ ]:
product=num*num
print(product)

484

- Calculating the square root.

In [ ]:
sqrt=num**(1/2)
print(sqrt)

4.69041575982343

# **4. Boolean Evaluations**

- Print the result of the following evaluations:

In [ ]:
10>5

True

In [ ]:
10==10

True

In [ ]:
8!=9

True

# **5. List Creation and Operations**

- Create a list named colors containing the following items: red, blue, green.

In [ ]:
colors=["red","blue","green"]

- Print the list.

In [ ]:
print(colors)

['red', 'blue', 'green']

- Print the first item in the list.

In [ ]:
colors[0]

'red'

- Replace the second item in the list with yellow.

In [ ]:
colors[1]="yellow"

- Print the list again.

In [ ]:
colors

['red', 'yellow', 'green']

- Changing the last item using negative indexing.

In [ ]:
colors[-1]="purple"
colors

['red', 'yellow', 'purple']

# **6. Indexing and Pasting**

- Given the list numbers = [10, 20, 30, 40, 50]

In [ ]:
l=[10,20,30,40,50]

- Print the third item from the list.

In [ ]:
l[2]

30

- Using slicing, print the first two numbers.

In [ ]:
l[0:2]

[10, 20]

- Getting the last three numbers using negative indexing and slicing.

In [ ]:
l[-3:]

[30, 40, 50]

# **7. Manipulating Elements**

- Given the list animals = ['cat', 'dog', 'bird']

In [ ]:
ani=["cat","dog","bird"]

- Print the list.

In [ ]:
print(ani)

['cat', 'dog', 'bird']

- Add fish to the end of the list.

In [ ]:
ani.append("fish")

- Print the updated list.

In [ ]:
print(ani)

['cat', 'dog', 'bird', 'fish']

# **8. Sorting**

- Given the list random_numbers = [42, 8, 15, 23, 16]

In [ ]:
random_numbers=[42,8,15,23,16]

- Print the list.

In [ ]:
print(random_numbers)

[42, 8, 15, 23, 16]

- Use the sort() method to sort the list.

In [ ]:
random_numbers.sort()

- Print the sorted list.

In [ ]:
print(random_numbers)

[8, 15, 16, 23, 42]

- Print every second item from the sorted list.

In [ ]:
random_numbers[1:5:2]

[15, 23]