# **1. Printing, Data Types, and Input**
* Ask the user for their name and their age.
*Print a statement saying: "Hello, [name]. You are [age] years old."
*Print the data type of each variable.

In [36]:
name=input()
age=input()

Sashi
19

In [44]:
print(f"Hello, {name}. You are {age} years old.")

Hello, Sashi. You are 19 years old.

In [45]:
type(name)

str

In [48]:
age=19
type(age)

int

# **2. String Manipulations and Input**

* Ask the user for the name of their hometown.
* Print the name of the hometown in uppercase.
* Print the first three characters of the hometown's name using slicing.
* Printing the name in reverse using slicing.

In [60]:
name= input("Enter your hometown:")

Enter your hometown:Water Ridge Homes

In [61]:
name.upper()

'WATER RIDGE HOMES'

In [62]:
name[0:3]

'Wat'

In [63]:
name[::-1]

'semoH egdiR retaW'

# **3. Numeric Operations and Input**

* Prompt the user to enter a number.
* Multiply the number by itself and * print the result.
* Calculating the square root.

In [65]:
a=float(input("Enter a number:"))

Enter a number:10

In [67]:
print(a*a)

100.0

In [71]:
import math
square_root=math.sqrt(a)
print(square_root)

3.1622776601683795

# **4. Boolean Evaluations**

* Print the result of the following evaluations:
  * 10 > 5
  * 10 == 10
  * 8!= 9

In [12]:
num=10
num>5

True

In [13]:
num==10

True

In [14]:
num2=8
num2 !=9

True

# **5. List Creation and Operations**

* Create a list named colors containing the following items: red, blue, green.
* Print the list.
* Print the first item in the list.
* Replace the second item in the list with yellow.
* Print the list again.
* Changing the last item using negative indexing.

In [15]:
colors=["red","blue","green"]

In [16]:
print(colors)

['red', 'blue', 'green']

In [17]:
colors[0]

'red'

In [18]:
colors[1]="yellow"

In [19]:
colors

['red', 'yellow', 'green']

In [20]:
colors[-1]="red"

In [21]:
colors

['red', 'yellow', 'red']

# **6. Indexing and Slicing**

* Given the list numbers = [10, 20,30, 40, 50]
* Print the third item from the list.
* Using slicing, print the first two numbers.
* Getting the last three numbers using negative indexing and slicing.

In [22]:
numbers=[10,20,30,40,50,]

In [23]:
numbers[2]

30

In [24]:
numbers[0:2]

[10, 20]

In [25]:
numbers[-3:]

[30, 40, 50]

# **7. Manipulating Elements**

* Given the list animals = ['cat', 'dog', 'bird']
* Print the list.
* Add fish to the end of the list.
* Print the updated list.

In [26]:
animals=['cat','dog','bird']

In [27]:
animals

['cat', 'dog', 'bird']

In [28]:
animals.append('fish')

In [29]:
animals

['cat', 'dog', 'bird', 'fish']

# **8. Sorting**

* Given the list random_numbers = [42, 8, 15, 23, 16]
* Print the list.
* Use the sort() method to sort the list.
* Print the sorted list.
* Print every second item from the sorted list.

In [30]:
random_numbers=[42,8,15,23,16]

In [31]:
R=random_numbers
print(R)

[42, 8, 15, 23, 16]

In [32]:
R.sort()

In [34]:
R

[8, 15, 16, 23, 42]

In [33]:
R[1::2]

[15, 23]