##**Zamzam Omulo**##

1. Printing, Data Types, and Input


Ask the user for their name and their age.
Print a statement saying: "Hello, [name]. You are [age] years old."
Print the data type of each variable.

In [5]:
Name=""
Age=''
print("Hello",input("Name"))
print("You are",input("Age"),"years old")

NameZam
Hello Zam
Age23
You are 23 years old

. String Manipulations and Input


Ask the user for the name of their hometown.
Print the name of the hometown in uppercase.
Print the first three characters of the hometown's name using slicing.
Printing the name in reverse using slicing.

In [1]:
Hometown=""
print(input(Hometown))
Hometown=Hometown.upper()
print(Hometown.upper)
Hometown[0:1]
Hometown[-5:]

Kisumu
Kisumu
<built-in method upper of str object at 0x7978d5d60030>

''

3. Numeric Operations and Input


Prompt the user to enter a number.
Multiply the number by itself and print the result.
Calculating the square root.

In [7]:
num='8'
result=8**2
print(result)
new_result=(result/8)
print(new_result)

64
8.0

4. Boolean Evaluations


Print the result of the following evaluations:
10 > 5
10 == 10
8 != 9

In [22]:
10>5

True

In [23]:
10==10

True

In [24]:
8!=9

True

5. List Creation and Operations


Create a list named colors containing the following items: red, blue, green.
Print the list.
Print the first item in the list.
Replace the second item in the list with yellow.
Print the list again.
Changing the last item using negative indexing

In [27]:
colors=["red","blue","green"]
print("colors")

colors

In [28]:
colors

['red', 'blue', 'green']

In [29]:
colors[1]="Yellow"

In [30]:
colors

['red', 'Yellow', 'green']

In [31]:
colors[-1]="pink"

In [32]:
colors

['red', 'Yellow', 'pink']

6. Indexing and Slicing


Given the list numbers = [10, 20, 30, 40, 50]
Print the third item from the list.
Using slicing, print the first two numbers.
Getting the last three numbers using negative indexing and slicing.

In [35]:
num=[10,20,30,40,50]
num[2]

30

In [41]:
num[0:1]

[10]

In [42]:
num[1:2]

[20]

In [45]:
num[-1:]

[50]

In [46]:
num[-2:]

[40, 50]

In [47]:
num[-3:]

[30, 40, 50]

7. Manipulating Elements


Given the list animals = ['cat', 'dog', 'bird']
Print the list.
Add fish to the end of the list.
Print the updated list.

In [48]:
animals=['cat','dog','bird']

In [50]:
animals

['cat', 'dog', 'bird']

In [52]:
animals.append('fish')

In [53]:
animals

['cat', 'dog', 'bird', 'fish']

8. Sorting


Given the list random_numbers = [42, 8, 15, 23, 16]
Print the list.
Use the sort() method to sort the list.
Print the sorted list.
Print every second item from the sorted list.

In [54]:
random_numbers=[42,8,15,23,16]

In [55]:
random_numbers

[42, 8, 15, 23, 16]

In [56]:
random_numbers.sort()

In [57]:
random_numbers

[8, 15, 16, 23, 42]

In [67]:
random_numbers[1]

15

In [68]:
random_numbers[3]

23