# Homework 3
## Mariah Noelle Cornelio

### 1. Printing, Data Types, and Input

- Ask the user for their name and their age. 
- Print a statement saying: "Hello, [name]. You are [age] years old."
- Print the data type of each variable.

In [56]:
name = input("What is your name? ")
age = int(input("What is your age? "))
print("Hello,", name, ". You are", age, "years old.")

What is your name? Mariah
What is your age? 19
Hello, Mariah . You are 19 years old.

In [54]:
type(name)

str

In [55]:
type(age)

int

___

### 2. String Manipulations and Input

- Ask the user for the name of their hometown.
- Print the name of the hometown in uppercase.
- Print the first three characters of the hometown's name using slicing.
- Print the name in reverse using slicing.

In [9]:
hometown = input("What is your hometown? ")
hometown_upper = hometown.upper()
print("Your hometown in uppercase is: ", hometown_upper)

hometown_first3char = hometown[0:3]
print("The first 3 characters of your hometown are: ", hometown_first3char)

hometown_reverse = hometown[::-1]
print("Your hometown in reverse is: ", hometown_reverse)

What is your hometown? Cebu
Your hometown in uppercase is:  CEBU
The first 3 characters of your hometown are:  Ceb
Your hometown in reverse is:  ubeC

___

### 3. Numeric Operations and Input

- Prompt the user to enter a number.
- Multiply the number by itself and print the result.
- Calculate the square root.

In [19]:
number = int(input("Choose any number: "))
square = int(number**2)
print("The number you chose multiplied by itself is", square)

square_root = number**0.5
# The sqrt() function doesn't work on Jupyter Notebook so I used this alternative formula
print("The square root of the number you chose is", square_root)

Choose any number: 16
The number you chose multiplied by itself is 256
The square root of the number you chose is 4.0

___

### 4. Boolean Evaluations

- Print the result of the following evaluations:

In [22]:
10 > 5

True

In [23]:
10 == 10

True

In [24]:
8 != 9

True

___

### 5. List Creation and Operations

- Create a list named colors containing the following items: red, blue, green.
- Print the list.
- Print the first item in the list. 
- Replace the second item in the list with yellow.
- Print the list again.
- Change the last item using negative indexing.

In [29]:
colors = ["red", "blue", "green"]
colors

['red', 'blue', 'green']

In [30]:
colors[0]

'red'

In [31]:
colors[1] = "yellow"
colors

['red', 'yellow', 'green']

In [32]:
colors[-1] = "purple"
colors

['red', 'yellow', 'purple']

___

### 6. Indexing and Slicing

- Given the list numbers = [10,20,30,40,50]
- Print the third item from the list. 
- Using slicing, print the first two numbers. 
- Get the last three numbers using negativing index and slicing.

In [33]:
numbers = [10,20,30,40,50]
numbers[2]

30

In [34]:
numbers[0:2]

[10, 20]

In [38]:
numbers[4:1:-1]

[50, 40, 30]

___

### 7. Manipulating Events

- Given the list animals = ["cat","dog","bird"]
- Print the list.
- Add fish to the end of the list.
- Print the updated list.

In [39]:
animals = ["cat", "dog", "bird"]
animals

['cat', 'dog', 'bird']

In [40]:
animals.append("fish")
animals

['cat', 'dog', 'bird', 'fish']

___

### 8. Sorting

- Given the list random_numbers = [42,8,15,23,16]
- Print the list.
- Use the sort() method to sort the list. 
- Print the sorted list.
- Print every second item from the sorted list.

In [41]:
random_numbers = [42,8,15,23,16]
random_numbers

[42, 8, 15, 23, 16]

In [45]:
print(random_numbers.sort())
print(random_numbers)

None
[8, 15, 16, 23, 42]

In [50]:
random_numbers[1:5:2] # 15 and 23 are the second items from the list

[15, 23]

___