# **Homework 3**

### 1. Printing, Data Types, and Input

In [ ]:
while True:
    User_Name = input("What is your name? ")
    if User_Name:
        break
    else:
        print("Please enter your name.")

while True:
    User_Age = input("How old are you? ")
    if User_Age.isdigit():
        age = int(User_Age)
        break
    else:
        print("Please enter a valid age as a number.")

print(f"Hello, {User_Name}. You are {age} years old.")
print(f"The data type of 'User_Name' is {type(User_Name)}")
print(f"The data type of 'age' is {type(age)}")

What is your name? Daniel Yglesias
How old are you? 203
Hello, Daniel Yglesias. You are 203 years old.
The data type of 'User_Name' is <class 'str'>
The data type of 'age' is <class 'int'>

### 2. String Manipulations and Input

In [ ]:
User_Hometown = input("What is the name of your hometown? ")

print(f"Your hometown in uppercase: {User_Hometown.upper()}")
print(f"The first three characters of your hometown: {User_Hometown[:3]}")
print(f"Your hometown in reverse: {User_Hometown[::-1]}")

What is the name of your hometown? Keller
Your hometown in uppercase: KELLER
The first three characters of your hometown: Kel
Your hometown in reverse: relleK

### 3. Numeric Operations and Input

In [ ]:
while True:
    User_Input = input("Enter a number: ")
    if User_Input.isdigit():
        number = int(User_Input)
        break
    else:
        print("Please enter a valid age as a number.")

square = number * number

import math
square_root = math.sqrt(number)

print(f"The square of {number} is: {square}")
print(f"The square root of {number} is: {square_root}")

Enter a number: 50
The square of 50 is: 2500
The square root of 50 is: 7.0710678118654755

### 4. Boolean Evaluations

In [ ]:
print(10 > 5)
print(10 == 10)
print(8 != 9)

True
True
True

### 5. List Creation and Operations

In [ ]:
ColorsList = ["red", "blue", "green"]

print("List of colors:", ColorsList)
print("First item:", ColorsList[0])

ColorsList[1] = "yellow"

print("Updated list:", ColorsList)

ColorsList[-1] = "orange"

print("Updated list with the last item changed:", ColorsList)

List of colors: ['red', 'blue', 'green']
First item: red
Updated list: ['red', 'yellow', 'green']
Updated list with the last item changed: ['red', 'yellow', 'orange']

### 6. Indexing and Slicing

In [ ]:
NumberList = [10, 20, 30, 40, 50]

print("Third item from the list:", NumberList[2])
print("First two numbers:", NumberList[:2])
print("Last three numbers:", NumberList[-3:])

Third item from the list: 30
First two numbers: [10, 20]
Last three numbers: [30, 40, 50]

### 7. Manipulating Elements

In [ ]:
AnimalList = ['cat', 'dog', 'bird']

print("Original list:", AnimalList)

AnimalList.append('fish')

print("Updated list with 'fish' added:", AnimalList)

Original list: ['cat', 'dog', 'bird']
Updated list with 'fish' added: ['cat', 'dog', 'bird', 'fish']

### 8. Sorting

In [ ]:
random_numberList = [42, 8, 15, 23, 16]

print("Original list:", random_numberList)

random_numberList.sort()

print("Sorted list:", random_numberList)
print("Every second item from the sorted list:", random_numberList[1::2])

Original list: [42, 8, 15, 23, 16]
Sorted list: [8, 15, 16, 23, 42]
Every second item from the sorted list: [15, 23]