# **Homework 3-Data Types, User Input, and Data Structure**

## **1. Printing, Data Types, and Input**

- Ask the user for their name and their age.
- Print a statement saying: "Hello, [name]. You are [age] years old."
- Print the data type of each variable.

In [8]:
name = input("Please enter in your name: ")
age = int(input("Please enter in your age:"))
print("Hello,",name,"You are", age, "years old.")

Please enter in your name: dar
Please enter in your age:21
Hello, dar You are 21 years old.

In [3]:
type(name)

str

In [9]:
type(age)

int

## **2. String Manipulations and Input**

- Ask the user for the name of their hometown.
- Print the name of the hometown in uppercase.
- Print the first three characters of the hometown's name using slicing.
- Print the name in reverse using slicing.

In [10]:
hometown = input("What is the name of your hometown? ")

What is the name of your hometown? Manila

In [11]:
hometown.upper()

'MANILA'

In [13]:
hometown[0:3]

'Man'

In [20]:
hometown[::-1]

'alinaM'

## **3. Numeric Operations and Input**

- Prompt the user to enter a number.
- Multiply the number by itself and print the result.
- Calculating the square root.

In [29]:
number = int(input("Please enter in a number: "))
multiply = number * number 
print("Multiplied by itself: ",multiply)
sqaureroot = multiply ** 0.5
print("Calculated sqaureroot from multipled result:", sqaureroot)

Please enter in a number: 3
Multiplied by itself:  9
Calculated sqaureroot from multipled result: 3.0

## **4. Boolean Evaluations**

Print the result of the following evaluations:
- 10 > 5
- 10 == 10
- 8 != 9

In [30]:
10 > 5   # 10 greater than 5

True

In [31]:
10 == 10 # 10 is equal to 10

True

In [32]:
8!= 9    # 8 is not equal to 9

True

## **5. List Creation and Operations** 

- Create a list named colors containing the following items: red, blue, green.
- Print the list.
- Print the first item in the list.
- Replace the second item in the list with yellow.
- Print the list again.
- Changing the last item using negative indexing.

In [33]:
colors = ["red", "blue", "green"]
print(colors)

['red', 'blue', 'green']

In [34]:
colors[0]

'red'

In [35]:
colors[1]="yellow"
print(colors)

['red', 'yellow', 'green']

In [36]:
colors[-1] = "orange"
print(colors)

['red', 'yellow', 'orange']

## **6. Indexing and Slicing**

- Given the list numbers = [10, 20, 30, 40, 50]
- Print the third item from the list.
- Using slicing, print the first two numbers.
- Getting the last three numbers using negative indexing and slicing.

In [45]:
list = [10,20,30,40,50]
list[2]

30

In [44]:
list[0:2]

[10, 20]

In [55]:
list[::-2]

[50, 30, 10]

In [60]:
list[:-4:-1]

[50, 40, 30]

## **7. Manipulating Elements**

- Given the list animals = ['cat', 'dog', 'bird']
- Print the list.
- Add fish to the end of the list.
- Print the updated list.

In [61]:
animals = ['cat','dog','bird']
print(animals)

['cat', 'dog', 'bird']

In [62]:
animals.append("fish")
print(animals)

['cat', 'dog', 'bird', 'fish']

## **8. Sorting**

- Given the list random_numbers = [42, 8, 15, 23, 16]
- Print the list.
- Use the sort() method to sort the list.
- Print the sorted list.
- Print every second item from the sorted list.

In [63]:
random_numbers = [42,8,15,23,16]
print(random_numbers)

[42, 8, 15, 23, 16]

In [65]:
random_numbers.sort()
print(random_numbers)

[8, 15, 16, 23, 42]

In [70]:
random_numbers[0:5:2]

[8, 16, 42]