# **Homework 3**
### Tim Reynolds
### 1001912015

# **1. Printing, Data Types, and Input**
- Ask the user for their name and their age.
- Print a statement saying: "Hello, [name]. You are [age] years old."
- Print the data type of each variable.

In [ ]:
name = str(input("Enter your name"))
age = int(input("Enter your age"))
print("Hello,",name,". You are",age,"years old.")
print(type(name),type(age))

Enter your nameTim
Enter your age23
Hello, Tim . You are 23 years old.
<class 'str'> <class 'int'>

# **2. String Manipulations and Input**
- Ask the user for the name of their hometown.
- Print the name of the hometown in uppercase.
- Print the first three characters of the hometown's name using slicing.
- Printing the name in reverse using slicing.

In [ ]:
from typing import Reversible
hometown = input("Enter the name of your hometown:")
print(hometown.upper())
print(hometown[0:3])
print(hometown[-1::-1])

Enter the name of your hometown:Fort Worth
FORT WORTH
For
htroW troF

# **3. Numeric Operations and Input**
- Prompt the user to enter a number.
- Multiply the number by itself and print the result.
- Calculating the square root.

In [ ]:
num = int(input("Enter a number:"))
num = num * num
print(num)
print(num**(1/2))

Enter a number:9
81
9.0

# 4. **Boolean Evaluations**
- Print the result of the following evaluations:
-- 10 > 5
-- 10 == 10
-- 8 != 9

In [ ]:
print(10>5, 10==10, 8!=9)

True True True

# **5. List Creation and Operations**
-Create a list named colors containing the following items: red, blue, green.
- Print the list.
- Print the first item in the list.
- Replace the second item in the list with yellow.
- Print the list again.
- Changing the last item using negative indexing.

In [8]:
colors = ["red","blue","green"]
print(colors)
print(colors[0])
colors[1] = "yellow"
print(colors)
colors[-1] = "Purple"
print(colors)

['red', 'blue', 'green']
red
['red', 'yellow', 'green']
['red', 'yellow', 'Purple']

# **6. Indexing and Slicing**


- Given the list numbers = [10, 20, 30, 40, 50]
- Print the third item from the list.
- Using slicing, print the first two numbers.
- Getting the last three numbers using negative indexing and slicing.

In [15]:
numbers = [10, 20, 30, 40, 50]
print(numbers[2])
print(numbers[0:1])
print(numbers[-3:])

30
[10]
[30, 40, 50]

# **7. Manipulating Elements**


- Given the list animals = ['cat', 'dog', 'bird']
- Print the list.
- Add fish to the end of the list.
- Print the updated list.

In [17]:
animals = ['cat', 'dog', 'bird']
print(animals)
animals.append("fish")
print(animals)

['cat', 'dog', 'bird']
['cat', 'dog', 'bird', 'fish']

# **8. Sorting**


- Given the list random_numbers = [42, 8, 15, 23, 16]
- Print the list.
- Use the sort() method to sort the list.
- Print the sorted list.
- Print every second item from the sorted list.

In [18]:
random_numbers = [42, 8, 15, 23, 16]
print(random_numbers)
random_numbers.sort()
print(random_numbers)
print(random_numbers[::2])

[42, 8, 15, 23, 16]
[8, 15, 16, 23, 42]
[8, 16, 42]