## **1. Printing, Data Types, and Input**

**Ask the user for their name and their age.**

In [ ]:
name=input('Enter your name: ')
age=int(input('Enter your age: '))

Enter your name: Hala Muhiar
Enter your age: 20

**Print a statement saying: "Hello, [name]. You are [age] years old."**

In [ ]:
print('Hello,',name,'. You are',age,'years old.')

Hello, Hala Muhiar . You are 20 years old.

**Print the data type for each variable.**

In [ ]:
type(name)

str

In [ ]:
type(age)

int

## **2. String Manipulations and Input**

**Ask the user for the name of their hometown.**

In [ ]:
hometown=input('Enter your hometown: ')

Enter your hometown: Hurst, TX

**Print the name of the hometown in uppercase**

In [ ]:
print(hometown.upper())

HURST, TX

**Print the first three characters of the hometown's name using slicing.**

In [ ]:
print(hometown[:3])

Hur

**Printing the name in reverse using slicing.**

In [ ]:
print(hometown[::-1])

XT ,tsruH

## **3. Numeric Operations and Input**

**Prompt the user to enter a number.**

In [ ]:
num=int(input('Enter a number: '))

Enter a number: 3

**Multiply the number by itself and print the result.**

In [ ]:
num1=num*num
print(num1)

9

**Calculate the square root.**

In [ ]:
sqrt=(num1)**(1/2)
sqrt

3.0

## **4. Boolean Evaluations**

**Print the result of the following evaluations:**
* 10 > 5
* 10 == 10
* 8 != 9

In [ ]:
10>5

True

In [ ]:
10 == 10

True

In [ ]:
8 != 9

True

## **5. List Creation and Operations**

**Create a list named "colors" containing the following items: red, blue, green.**

In [1]:
colors=['red','blue','green']

**Print the list.**

In [2]:
print(colors)

['red', 'blue', 'green']

**Print the first item in the list.**

In [3]:
print(colors[0])

red

**Replace the second item in the list with yellow.**

In [4]:
colors[1]='yellow'

**Print the list again.**

In [5]:
print(colors)

['red', 'yellow', 'green']

**Change the last item using negative indexing.**

In [6]:
colors[-1]='pink'
print(colors)

['red', 'yellow', 'pink']

## **6. Indexing and Slicing**

**Given the list numbers = [10,20,30,40,50]**

**Print the third item from the list.**

In [ ]:
numbers=[10,20,30,40,50]
print(numbers[2])

30

**Using slicing, print the first two numbers.**

In [ ]:
print(numbers[:2])

[10, 20]

**Getting the last three numbers using negative indexing and slicing.**

In [ ]:
numbers[-3:]

[30, 40, 50]

## **7. Manipulating Elements**

**Given the list animals=['cat', 'dog', 'bird']**

**Print the list.**

In [ ]:
animals=['cat','dog','bird']
print(animals)

['cat', 'dog', 'bird']

**Add fish to the end of the list.**

In [ ]:
animals.append('fish')

**Print the updated list.**

In [ ]:
print(animals)

['cat', 'dog', 'bird', 'fish']

## **8. Sorting**

**Given the list random_numbers=[42,8,15,23,16]**

**Print the list.**

In [ ]:
random_numbers=[42,8,15,23,16]
print(random_numbers)

[42, 8, 15, 23, 16]

**Use the sort() method to sort the list.**

In [ ]:
random_numbers.sort()

**Print the sorted list.**

In [ ]:
print(random_numbers)

[8, 15, 16, 23, 42]

**Print every second item from the sorted list.**

In [ ]:
print(random_numbers[1::2])

[15, 23]