<a href="https://colab.research.google.com/github/UTA-PYTHON/Home_Work_Submission/blob/main/Homework_4_Awo_Abdillahi.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Data Structures:

###1.   List and Tuples
  *   Create a list named fruits containing the following: "apple", "banana", "cherry".
  *   Convert this list into a tuple.
  *   Add "orange" to the list of fruits.
  *   Show the difference in the content of the list and tuple after the addition.

In [31]:
grocery_list=["apple","banana","cherry"]
my_grocery_list = tuple(grocery_list)
grocery_list.append("orange")
print(grocery_list)
print(my_grocery_list)

['apple', 'banana', 'cherry', 'orange']
('apple', 'banana', 'cherry')

###2. Dictionary:
*   Create a dictionary named person with keys "first_name", "last_name", and "age". Populate it with values of your choice
*   Add a new key-value pair, "city" with a value of your choice.
*   Display the keys in the dictionary using a Python command.

In [30]:
about_me={"first_name":"Awo",
          "last_name": "Abdillahi",
          "age": "18 years old",
          "favourite_hobby": "Journaling"}
about_me["City"]="Ottawa, ON Canada"
print(about_me.keys())

dict_keys(['first_name', 'last_name', 'age', 'favourite_hobby', 'City'])

###3. Set:
*   Create a set named colors with the values "red", "blue", "green"
*   Add "yellow" to the set and remove "blue"
*   Check if "pink" is in the set and display the result.

In [37]:
colors={"red", "blue", "green"}
colors.add("yellow")
colors.remove("blue")
"pink" in colors

False

In [36]:
colors

{'green', 'red', 'yellow'}

# Conditional Statements:
###4. Write a Python program that takes an input from the user and checks if the number is positive, negative, or zero.

In [102]:
number = float(input("enter your number:"))
if number > 0:
  print("positive")
elif number < 0:
  print("Negative")
else :
  print("zero")

enter your number:18
positive

###5. Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even numbers from the list using a conditional statement.

In [101]:
list = [23, 45, 8, 12, 78, 56, 89]
for even in list:
  if even % 2 == 0:
    print(even)

8
12
78
56

###6. Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider the voting age as 18).

In [49]:
age = int(input("How old are you?"))

if age >= 18:
  print("You're old enough to vote!")
else:
  print("Your're not old enough to vote.")

How old are you?18
You're old enough to vote!

#While Loop:
###7. Write a program that prompts the user to enter numbers continuously (using a while loop) and stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.

In [87]:
num = 0
tot = 0.0
while True:
    number = input("Enter a number or press q to quit")
    if number == 'q':
        break
    try :
        num1 = float(number)
    except:
        print('Invailed Input')
        continue

    tot = tot + num1

print (tot+num)

Enter a number or press q to quit1
Enter a number or press q to quit2
Enter a number or press q to quit3
Enter a number or press q to quitq
6.0

###8. Create a Python program using a while loop that prints numbers from 10 down to 1 and then prints "Liftoff!"

In [76]:
count = 10
while count > 0:
  print(count)
  count -= 1

print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

###9. Create a program that asks the user for a number and then prints out the multiplication table for that number using a while loop.

In [95]:
num = int(input("enter a num:"))
i = 1
while i <= 12 :
  print(num, "x", i, "=", num * i)
  i += 1

enter a num:5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50
5 x 11 = 55
5 x 12 = 60

#For Loop:
###10. Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list

In [103]:
list = ["apple", "banana", "cherry", "date"]
for fruit in list:
  print(fruit)

apple
banana
cherry
date

###11. Using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120.

In [105]:
number= int(input("enter number:"))
fact = 1
for i in range (1, number +1):
  fact *= i

print(fact)

enter number:5
120

###12. Create a program using a for loop that prompts the user to enter five numbers. After all numbers are entered, the program should display the average of the numbers.

In [106]:
total = 0
for _ in range(5):
  num = int(input("enter 5 numbers:"))
  total += num
avg = total/5
print(avg)

enter 5 numbers:25
enter 5 numbers:20
enter 5 numbers:15
enter 5 numbers:10
enter 5 numbers:5
15.0