<a href="https://colab.research.google.com/github/UTA-PYTHON/Home_Work_Submission/blob/main/Homework5_Shelbi_Burgett.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a function named add that takes two numbers as arguments and returns their sum.

In [5]:
def add(a,b):
  return a+b

num1=17
num2=30

add=add(num1,num2)

print("Sum of {0} and {1} is {2}" .format(num1,num2,add))

Sum of 17 and 30 is 47

2. Write a function names average that takes a list of numbers and returns their average.

In [16]:
num_list= [30,47,22,15,18,32]
Average= sum(num_list)/len(num_list)
print("The average is", round(Average,2))

The average is 27.33

3. Write a functions named factorial that calculates thet factorial of a given number.

In [17]:
num = int(input("Enter a number: "))
factorial = 1
if num < 0:
   print("False")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

Enter a number: 7
The factorial of 7 is 5040

4. Write a function named string_length that takes a string and returns its length without using the built in len() function.

In [19]:
def string_length():
    given_input = str(input("Enter the string: "))
    print("The length of the string is: ", string(given_input))

def string(length):
    if length=='':
        return 0
    else:
        return 1+string(length[1:])

string_length()

Enter the string: Hello, my name is Shelbi and I am a student of the class
The length of the string is:  56

5. Write a function named is_prime that checks if a given number is prime. The function should return True if the number is prime, otherwise false.

In [22]:
def is_prime(n):

	if n <= 1:
		return False

	for i in range(2, int(n**0.5)+1):

		if n % i == 0:
			return False
	return True


print(is_prime(5))

True

6. Write a function named unique_elements that takes a list as an arguement and returns a list of its unique elements in the order they were first encountered.

In [29]:
elements = [1,2,3,3,4,4,5,7,7,7]
def unique_elements(elements):

  list_unique_elements = []
  unique_elements = set(elements)

  for element in unique_elements:
    list_unique_elements.append(element)

  return list_unique_elements

print(unique_elements(elements))

[1, 2, 3, 4, 5, 7]