<a href="https://colab.research.google.com/github/UTA-PYTHON/Home_Work_Submission/blob/main/Homework_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 1. Printing, Data Types, and Input

Ask the user for their name and their age.

Print a statement saying: "Hello, [name]. You are [age] years old."

Print the data type of each variable.

In [ ]:
name = input("What is your name? ")
age = int(input("How old are you? "))
print("Hello " + name + ", you are " + str(age) + " years old.")

What is your name? Corry
How old are you? 27
Hello Corry, you are 27 years old.

## 2. String Manipulations and Input

Ask the user for the name of their hometown.

Print the name of the hometown in uppercase.

Print the first three characters of the hometown's name using slicing.

Printing the name in reverse using slicing.

In [ ]:
hometown = input("what is the name of your hometown?")

what is the name of your hometown?Pine Bluff

In [ ]:
print(hometown[:3])

Pin

In [ ]:
from ast import arguments
print(hometown[::-1])

ffulB eniP

## 3. Numeric Operations and Input


Prompt the user to enter a number.

Multiply the number by itself and print the result.

Calculating the square root.

In [ ]:
num_1= input("enter a number.")

enter a number.9

In [ ]:
9*9

81

In [ ]:
81**.5

9.0

## 4. Boolean Evaluations


Print the result of the following evaluations:

10 > 5

10 == 10

8 != 9

In [ ]:
10>5
10 == 10
8 != 9

True

## 5. List Creation and Operations


Create a list named colors containing the following items: red, blue, green.

Print the list.

Print the first item in the list.

Replace the second item in the list with yellow.

Print the list again.

Changing the last item using negative indexing.

In [ ]:
Color_3=["red", "blue", "green"]

In [ ]:
Color_3

['red', 'blue', 'green']

In [ ]:
Color_3[0]

'red'

In [ ]:
Color_3[1]="yellow"

In [ ]:
Color_3

['red', 'yellow', 'green']

In [ ]:
Color_3[-1]="blue"

In [ ]:
Color_3

['red', 'yellow', 'blue']

## 6. Indexing and Slicing


Given the list numbers = [10, 20, 30, 40, 50]

Print the third item from the list.

Using slicing, print the first two numbers.

Getting the last three numbers using negative indexing and slicing.

In [ ]:
lst= [10,20,30,40,50]

In [ ]:
print(lst[2])

30

In [ ]:
print(lst[0:2])

[10, 20]

In [ ]:
print(lst[-3::1])

[30, 40, 50]

## 7. Manipulating Elements


Given the list animals = ['cat', 'dog', 'bird']

Print the list.

Add fish to the end of the list.

Print the updated list.

In [ ]:
lst_2= ["cat", "dog", "bird"]

In [ ]:
print(lst_2)

['cat', 'dog', 'bird']

In [ ]:
lst_2.append("fish")

In [ ]:
print(lst_2)

['cat', 'dog', 'bird', 'fish']

## 8. Sorting


Given the list random_numbers = [42, 8, 15, 23, 16]

Print the list.

Use the sort() method to sort the list.

Print the sorted list.

Print every second item from the sorted list.

In [ ]:
lst_rn=[42,8,15,23,16]

In [ ]:
print(lst_rn)

[42, 8, 15, 23, 16]

In [ ]:
lst_rn.sort()

In [ ]:
print(lst_rn)

[8, 15, 16, 23, 42]

In [ ]:
for i in range(0, len(lst_rn), 2):
  print(lst_rn[i])

8
16
42