## Q1 ##

In [26]:
def question_1(a1, a2):
  return a1+a2

addition=question_1(5,3)
print(addition)

8

## Q2 ##

In [14]:
def average(avg):
  q2num=0
  q2count=0

  for m in avg:
    q2num += m
    q2count+=1
  return q2num / q2count

numbers=[2,3,4,5,6,7,8,9]
result= average(numbers)
print(result)

5.5

##Q3##

In [37]:
def factorial(facts):
  if facts <0:
    return "cannot be a factorial"
  elif facts ==0:
    return "1"
  else:
    Q_Equ = ""
    Q_3_total= 1
    for Q_3 in range(1, facts +1):
      Q_3_total *= Q_3
      if Q_3== 1:
        Q_Equ += f"{Q_3}"
      else:
        Q_Equ += f" * {Q_3}"
    Q_Equ= f"{facts}= {Q_Equ} = {Q_3_total}"
    return Q_Equ

In [38]:
facts= 9
Q_Equ= factorial(facts)
print(Q_Equ)

9= 1 * 2 * 3 * 4 * 5 * 6 * 7 * 8 * 9 = 362880

##Q4##

In [13]:
def string_length(string123):
  count=0
  for s in string123:
    count += 1
  return count

In [15]:
counter_of_string= "I hope this is right"
L= string_length(counter_of_string)
print("the count is ", L)

the count is  20

# **Q5**

In [29]:
def is_prime(probably_prime):
  if probably_prime <= 1 :
    return "this number is not prime"
  elif probably_prime %2==0 or probably_prime %3 ==0:
    return "this is not prime"
  else:
    return "this is prime"


q5_num=7
q5= is_prime(q5_num)
print(f":{q5_num} {q5}")

:7 this is prime

## Q6

In [7]:
def unique_elements(Q6):
  unq_lst=[]
  for q in Q6:
    if q not in unq_lst:
      unq_lst.append(q)
  return unq_lst

In [8]:
Q6_list=[2,2,3,3,4,4,55,55,66,66,1,2,3,4,5,6,7,8,9]
Q6final=unique_elements(Q6_list)
print(Q6final)

[2, 3, 4, 55, 66, 1, 5, 6, 7, 8, 9]