# **1. Write a function named add that takes two numbers as arguments and returns their sum**

In [1]:
def add(*number):
  result=sum(number)
  return result

In [2]:
add(1,2)

3

# **2. Write a function named average that takes a list of numbers and returns their average.**

In [7]:
def average(*list):
  count=len(list)
  return (sum(list))/count

In [8]:
average(1,2,3,4,5,6,7)

4.0

# **3. Write a function named factorial that calculates the factorial of a given number.**
The factorial  of a number n is the product of all positive integers less than or equal to n. For example, the
factorial of 5 is 5* 4* 3* 2* 1=120

In [14]:
def factorial(n):
  if n == 0:
    return 1
  else:
    return n * factorial(n-1)

In [13]:
factorial(4)

24

# **4. Write a function named string_length that takes a string and returns its length without using the built-in len() function**

In [15]:
def string_length(word):
  count = 0
  for letter in word:
    count += 1
  return count

In [16]:
string_length("Biology")

7

# **5.Write a function named is_prime that checks if a given number is prime. A prime number is a  natural number greater than 1 that is not a product of two smaller natural numbers. The function should return True if the number is prime, otherwise False**

In [17]:
def _prime(n):
  if n>1:
    for n1 in range(2,n):
      if n %n1 ==0:
        return False
      return True
    return False

In [21]:
_prime(6)

False

# **6. Write a function named unique_elements that takes a list as an argument and returns a list of its unique elements in the order they were first encountered**

In [29]:
def unique_elements(*lst):
  seen = set()
  result = []
  for x in lst:
    if x not in seen:
      seen.add(x)
      result.append(x)
  return result

In [30]:
unique_elements(1,2,2,3,4,4,5,6,7,8,9,9)

[1, 2, 3, 4, 5, 6, 7, 8, 9]