#1.Write a function named add that takes two numbers as arguments and returns their sum.

In [2]:
def add(num1,num2):
  return num1 + num2 #add the numbers and return value

add(1,2)

3

#2. Write a function named average that takes a list of numbers and returns their average.

In [10]:
def average(values):
  sum = 0
  for num in values:
    sum = sum + num #add each number in list
  return sum/len(values) #divide by number of nums for avg

average({90,95,95})

92.5

#3. Write a function named factorial that calculates the factorial of a given number. The factorial of a number n is the product of all positive integers less than or equal to n. For example, the factorial of 5 is 5*4*3*2*1=120

In [12]:
def factorial(num):
  factorial = 1 #init factorial at 1 so it's not 0
  for n in range(1,num+1): #start at 1 and go to num
    factorial *= n; #calc factorial
  return factorial

factorial(5)

120

#4. Write a function named string_length that takes a string and returns its length without using the built-in len() function.

In [15]:
def string_length(str1):
  length = 0
  for char in str1:
    length += 1 #count the number of characters
  return length

string_length("Hello")

5

#5. Write a function named is_prime that checks if a given number is prime. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers. The function should return True if the number is prime, otherwise False.

In [16]:
def is_prime(number):
    if number < 2: #must be greater than 1
        return False
    for i in range(2, int(number**0.5) + 1): #check for factors from 2 to the square root
        if number % i == 0:
            return False
    return True

is_prime(7)

True

#6. Write a function named unique_elements that takes a list as an argument and returns a list of its unique elements in the order they were first encountered.

In [19]:
def unique_elements(values):
  unique_num = []

  for num in values:
    if num not in unique_num: #add if not in already
      unique_num.append(num)
  return unique_num

unique_elements([5,5,6,2,5,3,8])

[5, 6, 2, 3, 8]