1. Write a function named add that takes two numbers as arguments and returns their sum.

In [1]:
def add(x,y):
  return x+y

add(5,2)

7

2. Write a function named average that takes a list of numbers and returns their average.

In [5]:
def average(numbers):
  sum = 0
  for n in numbers:
    sum+=n
  return sum/len(numbers)

average([1,2,3,4,5])

3.0

3. Write a function named factorial that calculates the factorial of a given number. The factorial of a number n is the product of all positive integers less than or equal to n. For example, the factorial of 5 is 5*4*3*2*1=120

In [34]:
def factorial(num):
  if num==1: return num
  return num*factorial(num-1)

factorial(5)

120

4. Write a function named string_length that takes a string and returns its length without using the built-in len() function.

In [10]:
def string_length(str):
  len = 0
  for l in str:
    len+=1
  return len


string_length("Hello")

5

5. Write a function named is_prime that checks if a given number is prime. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers. The function should return True if the number is prime, otherwise False.

In [32]:
def is_prime(num):
  for n in range(2,10):
    if num%n==0 and n != num:
      return False
  return True

is_prime(89)

True

6. Write a function named unique_elements that takes a list as an argument and returns a list of its unique elements in the order they were first encountered.

In [50]:
def unique_elements(elements):
  unique = []
  i = 0
  for e in elements:
    count = 0
    for i in elements:
      if e == i:
        count+=1
    if count==1:
      unique.append(e)


  return  unique

unique_elements([1,1,2,2,3,4,5,4,6,6])

[3, 5]