Ruth Slaughter 1001918965

**1.**Write a function named add that takes two numbers as arguments and returns their sum.

In [9]:
def add(x,y):
  return(x+y)

In [10]:
add(18,32)

50

**2.** Write a function named average that takes a list of numbers and returns their average.

In [16]:
def average(numbers):
    return sum(numbers) / len(numbers)

In [18]:
print(average([57,68,92]))

72.33333333333333

**3.** Write a function named factorial that calculates the factorial of a given number. The factorial of a number n is the product of all positive integers less than or equal to n. For example, the factorial of 5 is 5* 4 * 3 * 2 * 1=120

In [15]:
def factorial(n):
  if n < 0:
    print("error")
  elif n == 0:
    return 1
  else:
    return n * factorial(n-1)

factorial(5)

120

**4.** Write a function named string_length that takes a string and returns its length without using the built-in len() function.

In [12]:
def string_length(string):
    length = 0
    while string[length:]:
        length += 1
    return length

In [13]:
string = "Hello, World!"
print(string_length(string))

13


**5.** Write a function named is_prime that checks if a given number is prime. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers. The function should return True if the number is prime, otherwise False.

In [21]:
def is_prime(a):
  if a>1:
    for a1 in range(2,a):
      if a %a1 ==0:
        return False
      return True
    return False

In [22]:
is_prime(32)

False

**6.** Write a function named unique_elements that takes a list as an argument and returns a list of its unique elements in the order they were first encountered.

In [23]:
def unique_elements(*num):
  unique_el=[]
  for i in num:
    if i not in unique_el:
      unique_el.append(i)
  return unique_el

In [24]:
unique_elements(1,2,4,5,7,8,9,3,4,6,1,10)

[1, 2, 4, 5, 7, 8, 9, 3, 6, 10]