#1. Write a function named **add** that takes 2 numbers as arguments and returns their sum.

In [18]:
def add(num1, num2):
  sum= num1 + num2
  return sum

In [16]:
num1=8
num2=10

In [19]:
sum= add(8, 10)
print(f"The sum is {sum}")

The sum is 18

#2. Write a function named **average** that takes a list of numbers and returns their average.

In [5]:
def calculate_average(numbers):
  average= sum(numbers)/len(numbers)
  return average

In [7]:
numbers=[1,5,7,3,5,10]

In [9]:
calculate_average(numbers)

5.166666666666667

#3. Write a function named **factorial** that calculates the factorial of a given number. The factorial of a number n is the product of all positive integers less than or equal to n. For example, the factorial of 5 (5 x 4 x 3 x 2x 1 = 120).

In [55]:
def factorial(num):
    if num < 0:
        return "Factorial is not defined for negative numbers"
    elif num == 0:
        return 1
    else:
        result = 1
        for i in range(1, num + 1):
            result *= i
        return result

num = 5
result = factorial(num)
print(f"The factorial of {num} is {result}")

The factorial of 5 is 120

##4. Write a function named string_length that takes a string and returns its length without using the built-in len() function.

In [17]:
def string_length(string):
  length = 0
  for letters in sentence:
        length += 1
  return length

In [18]:
sentence= "Olivia"
length= string_length(sentence)
print(f"The length is {length}")

The length is 6

##5. Write a function named is_prime that checks if a given number is prime. A prime number is a natual number greater than 1 that is not a product of two smaller natural numbers. The function should return True if the number is prime, otherwise False.

In [39]:
def is_prime(num):
  if num<= 1 or num%2==0 or num%3==0:
    return False
  if num<=3:
    return True

In [49]:
if is_prime(num):
    print(f"{num} is a prime number")
else:
    print(f"{num} is not a prime number")
num=88

88 is not a prime number

##6. Write a function named unique_elements that takes a list as an argument and returns a list of its unique elements in the order they were first encountered.

In [32]:
def unique_elements(list):
    unique_list = []
    for colors in list:
        if colors not in unique_list:
            unique_list.append(colors)
    return unique_list

In [33]:
colors = ["Orange", "Pink", "Yellow", "Green", "Purple", "Orange", "Yellow", "Blue"]
result = unique_elements(colors)
print(result)

['Orange', 'Pink', 'Yellow', 'Green', 'Purple', 'Blue']