##  **1.Write a function named add that takes two numbers as arguments and returns their sum.**

In [ ]:
def add(a,b):
  return a+b

add(1,2)

3

## **2. Write a function named average that takes a list of numbers and returns their average.**

In [ ]:
def average(*n):
  return sum(n)/len(n)

average(1,2,3,4,5)

3.0

## **3.Write a function named factorial that calculates the factorial of a given number. The factorial of a number n is the product of all positive integers less than or equal to n. For example, the factorial of 5 is 5x4x3x2x1=120**

In [ ]:
def factorial(f):
  fac=1
  for k in range(1,f+1):
    fac=fac*k
  return fac

factorial(6)

720

## **4. Write a function named string_length that takes a string and returns its length without using the built-in len() function.**

In [ ]:
def string_length(a):
  count=0
  for n in a:
    count+=1
  return count

string_length("Phat")

4

## **5. Write a function named is_prime that checks if a given number is prime. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers. The function should return True if the number is prime, otherwise False.**

In [ ]:
def is_prime(p):
  if p>0:
    for n in range(2,p-1):
      if p%n==0:
        return False
      else:
        return True
  else:
    return "N/A"

is_prime(7)

True

## **6. Write a function named unique_elements that takes a list as an argument and returns a list of its unique elements in the order they were first encountered.**

In [ ]:
def unique_elements(*l):
  u=[]
  for n in l:
    if n not in u:
      u.append(n)
  return u

unique_elements(1,1,4,5,7,7)

[1, 4, 5, 7]