1. Write a function named add that takes two numbers as arguments and returns their sum.

In [1]:
def add(x,y): # take two numbers as arguments and return their sum
  return x+y

In [2]:
add(2,3)

5

2. Write a function named average that takes a list of numbers and returns their average.

In [4]:
def average(numbers): # take a list of numbers and return average

  if len(numbers)==0:
    return 0 # to aviod division by zero if the list is empty

  return sum(numbers)/len(numbers)

In [6]:
numbers=[3,4,5,7,8]
avg=average(numbers)
print(avg)

5.4

3. Write a function named factorial that calculates the factorial of a given number. The factorial of a number n is the product of all positive integers less than or equal to n. For example, the factorial of 5 is 5*4*3*2*1=120

In [9]:
def factorial(n): # calculate the factorial of given number
  if n==0:
    return 1
  else:
    return n*factorial(n-1)

In [10]:
result=factorial(5)
print(result)

120

4. Write a function named string_length that takes a string and returns its length without using the built-in len() function.

In [11]:
def string_length(input_string):

  length=0
  for _ in input_string:
    length +=1

  return length

In [13]:
a= "Nepal"
length=string_length(a)
print(length)

5

5. Write a function named is_prime that checks if a given number is prime. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers. The function should return True if the number is prime, otherwise False.

In [14]:
def is_prime(number): # to check whether number is prime or not

  if number<=1:
    return False  #number<=1 are not prime

  if number<=3:
    return True # number 2 and 3 are prime

  if number%2==0 or number%3==0:
    return False ## number which is divisible by 2 or 3 are not prime

  i=5
  while i*i<=number:
    if number % i == 0 or number % (i+2)==0: # to show it is not product of two smaller natural number
      return False

      i +=6

  return True

In [15]:
num= is_prime(19)
print(num)

True

In [18]:
num2= is_prime(15)
print(num2)

False

6. Write a function named unique_elements that takes a list as an argument and returns a list of its unique elements in the order they were first encountered.

In [19]:
def unique_elements(input_list): # Returns a list of unique elements from the input list in the order of their first occurrence.


  unique_list=[]
  seen_set=set()

  for item in input_list:
    if item not in seen_set:
      unique_list.append(item)
      seen_set.add(item)

  return unique_list

In [20]:
list=[6,6,8,2,3,1,2,3,4,6,8,9]
unique_items=unique_elements(list)
print(unique_items)

[6, 8, 2, 3, 1, 4, 9]