1.Write a function named that takes two numbers as arguments and returns their sum.

In [ ]:
def add_numbers(num1,num2):
  return num1+num2
result = add_numbers(5,7)
print(result)

12

 2.Write a function named **average** that takes a list of numbers and returns their average

In [ ]:
def average(numbers):
  if not numbers:
    return 0
  total=sum(numbers)
  return total/len(numbers)

number_list=[10,20,30,40,50]
result=average(number_list)
print(result)

30.0

3.Write a function named **factorial** that calculates the factorial of a given number. The factorial
of a number n is the product of all positive integers less than or equal to n. For example, the
factorial of 5 is 5* 4 *3 *2 *1=120

In [ ]:
def factorial(n):
  if n==0:
    return 1
  else:
    result=1
    for i in range(1,n+1):
      result *= i
    return result
n=5
result=factorial(n)
print(f"The factorial of {n} is {result}")

The factorial of 5 is 120

4.Write a function named **string_length** that takes a string and returns its length without using
the built-in len() function

In [ ]:
def string_length(input_string):
  length=0
  for _ in input_string:
    length += 1
  return length

5.Write a function named **is_prime** that checks if a given number is prime. A prime number is a
natural number greater than 1 that is not a product of two smaller natural numbers. The function
should return True if the number is prime, otherwise False.

In [ ]:
def is_prime(number):
  if number <= 1:
    return False
  elif number <= 3:
    return True
  elif number % 2 == 0:
    return False
  for i in range(3, int(number**0.5)+1,2):
    if number % i == 0:
      return False
  return True
num = 17
if is_prime(num):
  print(f"{num} is a prime number.")
else:
  print(f"{num} is not a prime number")

17 is a prime number.

6.Write a function named **unique_elements** that takes a list as an argument and returns a list of
its unique elements in the order they were first encountered

In [3]:
def unique_elements(input_list):
  unique_list=[]
  seen_elements=set()

  for item in input_list:
    if item not in seen_elements:
      unique_list.append(item)
      seen_elements.add(item)
  return unique_list

input_list=[1,2,2,3,4,4,5]
result=unique_elements(input_list)
print(result)

[1, 2, 3, 4, 5]