#### **Question 1**

**Write a function named add that takes two numbers as arguments and returns the sum.**

In [ ]:
def add(a,b):
  return a+b

add(3,5)

8

#### **Question 2**

**Write a function named average that takes a list of numbers and returns their average.**

In [ ]:
def average(*avg):
  count=len(avg)
  return (sum(avg))/count

average(4,5,6,7,8,9,10)

7.0

#### **Question 3**

**Write a function named factorial that calculates the factorial of a given number. The factorial of a number n is the product of all positive integers less than or equal to n. For example, the factorial of 5 is 5x4x3x2x1=120**

In [ ]:
def factorial(num):
  fact=1
  if num==0:
    print('The factorial of 0 is 1.')
  elif num<0:
    print('Invalid input. Cannot compute.')
  else:
    for n in range(1,num+1):
      fact=fact*n
    print(f'{num}! = {fact}')

factorial(5)

5! = 120

#### **Question 4**

**Write a function named string_length that takes a string and returns its length without using the built-in len() function.**

In [ ]:
def string_length(word):
  w=0
  for wr in word:
    w+=1
  print(w)

string_length('data')

4

#### **Question 5**

**Write a function named is_prime that checks if a given number is prime. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers. The function should return True if the number is prime, otherwise False.**

In [ ]:
def is_prime(j):
  if j<=1:
    return False
  i=2
  while i*i<=j:
    if j%i==0:
      return False
    else:
      return True

is_prime(37)

True

#### **Question 6**

**Write a function named unique_elements that takes a list as an argument and returns a list of its unique elements in the order they were first encountered.**

In [ ]:
def unique_elements(*x):
  y=[]
  for u in x:
    if u not in y:
      y.append(u)
  print(y)

unique_elements(1,1,1,2,2,2,3,3,4,4,5,5,5,5)

[1, 2, 3, 4, 5]