Write a function named add that takes two numbers as arguments and returns their sum.

In [19]:
def add(first, second):
  return first + second

add(7,4)

11

Write a function named average that takes a list of numbers and returns their average.

In [28]:
def average(figures):
  return sum(figures)/len(figures)

list=[4,7,9,2,7,6]
result

5.833333333333333

Write a function named factorial that calculates the factorial of a given number. The factorial of a number n is the product of all positive integers less than or equal to n. For example, the factorial of 5 is 5*4*3*2*1=120

In [11]:
def factorial(n):
  if n==0:
    return 1
  else:
    return n * factorial(n-1)

factorial(7)

5040

Write a function named string_length that takes a string and returns its length without using the built-in len() function.

In [17]:
def string_length(string):
  count=0
  for n in string:
    count +=1
  return count

In [18]:
string_length('Coding')

6

Write a function named is_prime that checks if a given number is prime. A prime number is a natural number greater than 1 that is not a product of two smaller natural numbers. The function should return True if the number is prime, otherwise False.

In [30]:
def is_prime(n):
  if n>0:
    for r in range(2,n-1):
      if n%r==0:
        return False
      else:
        return True


is_prime(4)

False

Write a function named unique_elements that takes a list as an argument and returns a list of its unique elements in the order they were first encountered.

In [59]:
def unique_elements(*list):
  new= set()
  result = []
  for b in list:
    if b not in new:
      new.add(b)
      result.append(b)
  return result

In [60]:
unique_elements(7,9,2,3,7,7,3,4,9)

[7, 9, 2, 3, 4]