# **Data Structures:**
**1. List and Tuple:**
* Create a list named fruits containing the following: "apple", "banana", "cherry".
* Convert this list into a tuple.
* Add "orange" to the list of fruits.
* Show the difference in the content of the list and tuple after the addition.

In [2]:
fruits=["apple","banana","cherry"]
fruits

['apple', 'banana', 'cherry']

In [4]:
fruits_tuple=tuple(fruits)

In [5]:
fruits.append("orange")

In [6]:
print("List of fruits:", fruits)
print("Tuple of fruits:",fruits_tuple)

List of fruits: ['apple', 'banana', 'cherry', 'orange']
Tuple of fruits: ('apple', 'banana', 'cherry')

 **2. Dictionary:**
* Create a dictionary named person with keys "first_name", "last_name", and "age".
Populate it with values of your choice.
* Add a new key-value pair, "city" with a value of your choice.
* Display the keys in the dictionary using a Python command.

In [8]:
person={"first_name": "Sashi",
        "last_name": "Soni",
        "age": 19}

In [9]:
person["city"]="Dallas"

In [11]:
person.keys()

dict_keys(['first_name', 'last_name', 'age', 'city'])

 **3. Set:**
* Create a set named colors with the values "red", "blue", "green".
* Add "yellow" to the set and remove "blue".
* Check if "pink" is in the set and display the result.

In [12]:
colors=["red","blue","green"]

In [15]:
colors[1]="yellow"
colors

['red', 'yellow', 'green']

In [19]:
if "pink" in colors:
  print("Pink is in the set")
else:
  print("Pink is not in the set")
print(colors)

Pink is not in the set
['red', 'yellow', 'green']

**4. Write a Python program that takes an input from the user and checks if the number is positive, negative, or zero.**

In [20]:
num=float(input("Enter a number:"))

Enter a number:5

In [21]:
if num>0:
  print("The number is postive.")
elif num<0:
  print("The number is negative")
else:
  print("The number is zero")

The number is postive.

**5. Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even numbers from the list using a conditional statement.**

In [25]:
numbers=[23,45,8,12,78,56,89]
print("Even numbers from the list:")

for num in numbers:
  if num%2==0:
    print(num)

Even numbers from the list:
8
12
78
56

**6. Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider the voting age as 18).**

In [28]:
age=int(input("Enter the age:"))

Enter the age:19

In [29]:
if age>=18:
  print("You are eligible to vote.")
else:
  print("You are not eligible this year")

You are eligible to vote.

**7. Write a program that prompts the user to enter numbers continuously (using a while loop) and stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.**

In [46]:
total=0

while True:
  user_input=input("Enter a number (or 'q' to quit):")
  if user_input.lower()=='q':
    break

Enter a number (or 'q' to quit):1
Enter a number (or 'q' to quit):2
Enter a number (or 'q' to quit):3
Enter a number (or 'q' to quit):4
Enter a number (or 'q' to quit):5
Enter a number (or 'q' to quit):q

In [49]:
try:
  numbers=float(user_input)
  total +=numbers
except ValueError:
  print("Invalid input.")

print("Sum of entered numbers:", total)

Invalid input.
Sum of entered numbers: 0

8. Create a Python program using a while loop that prints numbers from 10 down to 1 and then prints "Liftoff!".

In [50]:
countdown=10

while countdown>=1:
  print(countdown)
  countdown -=1

print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

**9. Create a program that asks the user for a number and then prints out the multiplication table for that number using a while loop.**

In [53]:
number=int(input("Enter a number:"))

Enter a number:2

In [57]:
counter=1

while counter<=10:
  result=number*counter
  print(f"{number} x {counter} = {result}")
  counter +=1

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

**10. Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list.**

In [58]:
fruits=["apple","banana","cherry","date"]

for fruit in fruits:
  print(fruit)

apple
banana
cherry
date

**11. Using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120.**

In [61]:
n= int(input("Enter a number:"))

factorial=1

for i in range(1, n+1):
  factorial *= i

print(f"{n}! =", factorial)

Enter a number:5
5! = 120

**12. Create a program using a for loop that prompts the user to enter five numbers. After all numbers are entered, the program should display the average of the numbers.**

In [62]:
total =0

for i in range(5):
  number = float(input(f"Enter number {i+1}:"))
  total +=number

average=total/6

print("Average:", average)

Enter number 1:2
Enter number 2:3
Enter number 3:4
Enter number 4:5
Enter number 5:6
Average: 3.3333333333333335