# Data Structures

## List and Topic 
- create a list named fruits containing the following: "apple", "banana", "cherry"
- convert this list into a tuple
- add "orange" to the list of fruits 
- Show the difference in the content of the list and tuple after the additon

In [20]:
fruits = ["apple","banana","cherry"]

In [21]:
fruits2 =tuple(fruits)

In [22]:
fruits.append("orange")

In [23]:
fruits

['apple', 'banana', 'cherry', 'orange']

In [24]:
fruits2

('apple', 'banana', 'cherry')

## Dictionary
- create a dictionary named person with keys "first_name","last_name", and "age" populate it with values of your choice 
- Add a new key-value pair, "city" with a value of your choice 
- Display the keys in the dictionary using a Python command

In [25]:
persons = {"first_name": "Fabiola", "last_name": "Chavez", "Age": 19}

In [26]:
persons["city"] = "Dallas"

In [27]:
persons

{'first_name': 'Fabiola', 'last_name': 'Chavez', 'Age': 19, 'city': 'Dallas'}

In [28]:
persons.keys()

dict_keys(['first_name', 'last_name', 'Age', 'city'])

## Set
- create a set named colors with the values "red", "blue", "green 
- add "yellow" to the set and remove "blue 
- check if "pink" is in the set and display the result

In [82]:
colors = {"red", "blue","green"}

In [83]:
colors.add("yellow")

In [84]:
colors.remove("blue")

In [85]:
if "pink" in colors:
    print(colors)
else:
    print("pink is not in this set but the set is: ", colors)

pink is not in this set but the set is:  {'red', 'green', 'yellow'}

# Conditional Statements 
- write a Python program that takes an input from the user and checks if the number is positive, negative, or zero

- Given a list of numbers: [23, 45, 8, 12, 78, 56, 89] write a Python program that prints out all even numbers from the list using a conditional statement

- Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider the voting age as 18)

In [53]:
num = int(input("Please enter a number "))

Please enter a number 0

In [55]:
if num > 0:
    print("this number is positive")
elif num < 0:
    print("this number is negative")
else:
    print("this number is 0")

this number is 0

In [56]:
ls = [23, 45, 8, 12, 78, 56, 89]

In [86]:
for i in ls:
    if i%2 == 0:
        print(i)

8
12
78
56

In [63]:
age = int(input("Please input your age "))

Please input your age 12

In [74]:
if age >= 18:
    print("you are eligible to vote")
else:
    print("you are not eligible to vote")

you are not eligible to vote

## While Loop 
- write a program that prompts the user to enter numbers continously (using a while loop) and stops taking inputs when the user enters 'q'. After that, display the sum of all numbers entered 
- Create a Python program that using a while loop that prints the numbers from 10 down to 1 and then prints "Liftoff!"
- Create a program that asks the user for a number and then prints out the multiplication table for that number using a while loop

In [76]:
num = 0
while num != "q":
    num = input("please enter a number ")
    print(num)

please enter a number 2
2
please enter a number 2
2
please enter a number 3
3
please enter a number q
q

In [77]:
num = 10
while num > 0:
    print(num)
    num=num-1
    
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [78]:
n = 1
c = int(input("please enter a number: "))
while n <= 10:
    table = c*n
    print(c,"*",n,"=", table)
    
    n = n+1

please enter a number: 2
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

## For Loop 
- Given a list: ["apple", "banana", "cherry", "date"] use a for loop to print each fruit in the list 
- using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5 X 4 X 3 X 2 X 1 = 120
- create a program using a for loop that prompts the user to enter five numbers. After all numbers are entered, the program should display the average of the numbers

In [79]:
fruits = ["apple","banana","cherry","date"]
for i in fruits:
    print (i)

apple
banana
cherry
date

In [80]:
f = 1
n = int(input("Please enter a number: "))

for i in range(1 , n+1):
    f = i*f
    print(n,"x",i,"=",f)

Please enter a number: 5
5 x 1 = 1
5 x 2 = 2
5 x 3 = 6
5 x 4 = 24
5 x 5 = 120

In [81]:
sum = 0 

for i in range(5):
    n = (float(input("Please enter 5 numbers: ")))
    sum = n + sum
    avg = sum / 5 
    
print("The average of your numbers is: ", avg)

Please enter 5 numbers: 1
Please enter 5 numbers: 2
Please enter 5 numbers: 3
Please enter 5 numbers: 4
Please enter 5 numbers: 5
The average of your numbers is:  3.0