Create a list named fruits containing the following: "apple", "banana", "cherry".

○ Convert this list into a tuple.

○ Add "orange" to the list of fruits.

○ Show the difference in the content of the list and tuple after the addition

In [8]:
fruits=['apple', 'banana', 'cherry']
tupl_e=tuple(fruits)

In [9]:
fruits.append('orange')

In [10]:
tupl_e

('apple', 'banana', 'cherry')

In [11]:
fruits

['apple', 'banana', 'cherry', 'orange']

Create a dictionary named person with keys "first_name", "last_name", and "age".
Populate it with values of your choice.

○ Add a new key-value pair, "city" with a value of your choice.

○ Display the keys in the dictionary using a Python command.

In [12]:
person={'first_name': 'fiyin', 'last_name': 'olaniyi', 'age': '21'}

In [13]:
person['city']=['arlington']

In [15]:
person.keys()

dict_keys(['first_name', 'last_name', 'age', 'city'])

Create a set named colors with the values "red", "blue", "green".

○ Add "yellow" to the set and remove "blue".

○ Check if "pink" is in the set and display the result.

In [16]:
colors={'red','blue','green'}

In [21]:
colors.add('yellow')

In [22]:
colors.remove('blue')

In [23]:
'pink'in colors

False

In [24]:
colors

{'green', 'red', 'yellow'}

Write a Python program that takes an input from the user and checks if the number is positive,
negative, or zero.

In [26]:
num=int(input('random number'))
if num>0:
  print('Positive')
elif num==0:
  print('Zero')
else:
  print('Negative sorry')

random number12
Positive

Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even
numbers from the list using a conditional statement.

In [27]:
numbers=[23,45,8,12,78,56,89]

In [28]:
for i in numbers:
  if i%2==0:
    print(i)

8
12
78
56

Write a program that asks the user to enter their age. Based on the user's input, determine if they
are eligible to vote (consider the voting age as 18).

In [31]:
age=int(input('your age?'))
if age>=18:
  print('You can vote')
else:
  print('Not eligible')

your age?13
Not eligible

Write a program that prompts the user to enter numbers continuously (using a while loop) and
stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered

In [37]:
sum=0

while True:
  numbers=int(input('Enter number'))
  if numbers=="q":
    break
  else:
    t=int(numbers)
    sum=sum+t
print(sum)

12
14
20
q
46

Create a Python program using a while loop that prints numbers from 10 down to 1 and then
prints "Liftoff!".

In [42]:
variable=10
while variable>0:
  print(variable)
  variable=variable-1
else:
 print('Liftoff!')

10
9
8
7
6
5
4
3
2
1
Liftoff!

Create a program that asks the user for a number and then prints out the multiplication table for
that number using a while loop.

In [49]:
p=int(input('enter number'))
x=0

while x<=10:
  print(p,'*',x,'=',p*x)
  x+=1

enter number4
4 * 0 = 0
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list.

In [50]:
list=['apple','banana','cherry','date']

In [51]:
for f in list:
  print(f)

apple
banana
cherry
date

Using a for loop, calculate the factorial of a given number (n!). For example, if the given number
is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120.

In [52]:
num=int(input("Enter a number: "))

factorial=1
for a in range(1,num):
  factorial=factorial*a
print("Factorial of", a, "is", factorial)

Enter a number: 7
Factorial of 6 is 720

In [53]:
a=int(input("Enter 1st number:"))
b=int(input("Enter 2nd number:"))
c=int(input("Enter 3rd number:"))
d=int(input("Enter 4th number:"))
e=int(input("Enter 5th number:"))

sum=a+b+c+d+e
lst=[a,b,c,d,e]
count=len(lst)
for p in range(a,e):
  avg=(sum)/count
print(avg)

Enter 1st number:12
Enter 2nd number:34
Enter 3rd number:43
Enter 4th number:89
Enter 5th number:45
44.6