##**Q1**##

In [ ]:
fruits_list=["apple","banana","cherry"]

In [ ]:
print(fruits_list)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
fruits_tuple=tuple(fruits)

In [ ]:
fruits_list.append("orange")

In [ ]:
print(fruits_list, fruits_tuple)

['apple', 'banana', 'cherry', 'orange'] ('apple', 'banana', 'cherry', 'orange')

In [ ]:
# the difference between the list and tuple is the "[]" for lists and "()" for tuple.

##**Q2**##

In [ ]:
person = {
    "first name" : "Dalton",
    "last name" : "Owens",
    "age": 26
}

In [ ]:
person["city"]="Euless"

In [ ]:
print(person)

{'first name': 'Dalton', 'last name': 'Owens', 'age': 26, 'city': 'Euless'}

##**Q3**##

In [ ]:
colors=["red", "blue", "green"]
print(colors)

['red', 'blue', 'green']

In [ ]:
colors.append("yello")
colors.remove("blue")
print(colors)

['red', 'green', 'yello']

In [ ]:
if "pink" in colors:
  print("pink is my favorate singer")
else:
  print("pink does not exist")

pink does not exist

##**Q4**##

In [ ]:
number=(int(input("Enter a number here :")))

if number > 0:
  print("this number is positive")
elif number == 0:
  print("this number is neither possitive or negative")
else:
  print("this number is negative")

Enter a number here :0
this number is neither possitive or negative

##**Q5**##

In [ ]:
note=[23,45,8,12,78,56,89]
for note in note:
  if note % 2==0:
    print(note)

8
12
78
56

##**Q6**##

In [ ]:

age=(int(input("Enter your age: ")))
if age >= 18:
  print("you can vote")
else:
  print("you cannot vote yet CHILD")

Enter your age: 16
you cannot vote yet CHILD

##**Q7**##

Write a program that prompts the user to enter numbers continuously (using a while loop) and
stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.

In [ ]:

s=0

while True:
  start= ((input("Enter number here: ")))

  if start=="q":
    break

  addition= float(start)
  s+=addition
print(f'sum of inputs : {s}')

Enter number here: 7
Enter number here: 7
Enter number here: q
sum of inputs : 14.0

In [ ]:
s

14.0

##**Q8**##

In [ ]:
Qeight= 10

while Qeight>=1:
  print(Qeight)
  Qeight-=1
print("liftoff")

10
9
8
7
6
5
4
3
2
1
liftoff

##**Q9**##

In [ ]:
Qnine= int(input("Enter a number: "))

multi= 1
while multi <= 10:
  table = Qnine * multi
  print(f"{num} x {multi} = {table}")
  multi +=1

Enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

##**Q10**##

In [ ]:

Qten=["apple", "banana", "cherry", "date"]

for fruit in Qten:
  print(fruit)

apple
banana
cherry
date

##**Q11**##

In [ ]:
n= int(input("enter a number here: "))

fact= 1
express= ""
for i in range(1, n+1):
  fact *= i
  if i ==1:
    express=str(i)
  else:
    express+= f" x {i}"



print(f"{express}={fact} ")

enter a number here: 5
1 x 2 x 3 x 4 x 5=120

##**Q12**

In [ ]:
Q12=0

for a in range(5):
  b=(int(input("enter 5 values individually :")))

  Q12 += b
  a-= 1

  mean=Q12/ 5
print(mean)

enter 5 values individually :5
enter 5 values individually :4
enter 5 values individually :3
enter 5 values individually :2
enter 5 values individually :1
3.0