##**1. List and Tuple**

- Create a list named fruits containing the following: "apple","banana", "cherry".

In [71]:
fruits = ["apple","banana","cherry"] # Initializing list

- Convert the list into a tuple

In [72]:
fruits_tuple = tuple(fruits) # Converting list into tuple

- Add "orange" to the list of fruits

In [73]:
fruits.append("orange") # Adding orange to list

- Show the difference in the content of the list and tuple after the addition

In [74]:
print(fruits) # printing fruits set and tuple
print(fruits_tuple)

['apple', 'banana', 'cherry', 'orange']
('apple', 'banana', 'cherry')

## **2. Dictionary**

- Create a dicitonary named person with keys "first_name", "last_name", and "age".
Populate it with values of your choice

In [75]:
person = {"first_name": "Jimena","last_name": "Garcia","age": 21} # Making and filling person dictionary

- Add a new key-value pair, "city" with a value of your choice

In [76]:
person["city"] = "Bedford" #Adding new key-value pair

- Display the keys in the dictionary using a python command

In [77]:
print(person.keys()) #printing keys of dictionary

dict_keys(['first_name', 'last_name', 'age', 'city'])

## **3. Set**

- Create a set named colors with the values "red", "blue", "green".

In [78]:
colors = {"red","blue","green"} # Initializing colors set with 3 values

- Add "yellow" to the set and remove "blue".

In [79]:
colors.add("yellow") # Adding a value to colors set

In [80]:
colors.remove("blue") # Removing a value from colors set

- Check if "pink" is in the set and display the result

In [81]:
print("pink" in colors) # Checking if pink is in colors set

False

## **4. Conditional Statements**

- Write a Python program that takes an input from the user and checks if the number is positive, negative, or zero

In [82]:
num = float(input("Please enter a number:\t"))

if(num > 0):
  print("The number you entered is positive")
elif(num < 0):
  print("The number you entered is negative")
else:
  print("The number you entered is zero")

Please enter a number:	5
The number you entered is positive

- Given a list of numbers: [23,45,8,12,56,89], write a Python program that prints out all even numbers from the list using a conditional statement.

In [83]:
numbers = [23,45,8,12,56,89]

for num in numbers:
  if(num % 2 ==0):
    print(num)

8
12
56

- Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider the voting age as 18)

In [84]:
age = int(input("Please enter your age:\t"))

if(age >= 18):
  print("You are eligible to vote!")
else:
  print("You are NOT eligible to vote.")
  print(":(")

Please enter your age:	5
You are NOT eligible to vote.
:(

## **5. While Loop**

- Write a program that prompts the user to enter numbers continously (using a while loop) and stops ta4king inputs when the use enters "q". After that, display the sum of all the numbers entered.

In [85]:
sum = 0
num = input("Please enter a number:\t")

while(num != "q"):
  sum += float(num)
  num = input("Please enter a number:\t")

print(sum)

Please enter a number:	13
Please enter a number:	135
Please enter a number:	6
Please enter a number:	7
Please enter a number:	3
Please enter a number:	q
164.0

- Create a Python program using a while loop that prints numbers from 10 down to 1 and then prints "Liftoff!".

In [86]:
num = 10

while num > 0:
  print(num)
  num -= 1

print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

- Create a program that asks the user for a number and then prints out the multiplication table for that number while using a while loop

In [87]:
num = int(input("Please enter a number:\t"))
row = 1
mult_tbl = ""

while(row <= 12):
    mult_tbl += str(num) + " x " + str(row) + " = " + str(num * row) + "\n"
    row += 1

print(mult_tbl)

Please enter a number:	13
13 x 1 = 13
13 x 2 = 26
13 x 3 = 39
13 x 4 = 52
13 x 5 = 65
13 x 6 = 78
13 x 7 = 91
13 x 8 = 104
13 x 9 = 117
13 x 10 = 130
13 x 11 = 143
13 x 12 = 156

## **6. For Loop**

- Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list

In [88]:
fruits = ["apple", "banana", "cherry", "date"]

for fruit in fruits:
  print(fruit)

apple
banana
cherry
date

- Using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120.

In [89]:
num = int(input("Please enter an integer:\t"))
product = 1

for x in range(num):
  product *= (x+1)

print(product)

Please enter an integer:	5
120