# **List and Tuple:**
- Create a list named fruits containing the following: "apple", "banana", "cherry".
- Convert this list into a tuple.
- Add "orange" to the list of fruits.
- Show the difference in the content of the list and tuple after the addition.

In [ ]:
fruits = ["apple", "banana", "cherry"]
a = tuple(fruits)
fruits.append("orange")
print("List = ",fruits,"\nTuple = ",a)

List =  ['apple', 'banana', 'cherry', 'orange']
Tuple =  ('apple', 'banana', 'cherry')

# **Dictionary:**
- Create a dictionary named person with keys "first_name", "last_name", and "age".
Populate it with values of your choice.
- Add a new key-value pair, "city" with a value of your choice.
- Display the keys in the dictionary using a Python command.

In [ ]:
person = {"first_name":"Tim","last_name":"Reynolds","age":23}
person["city"] = "Arlington"
print("Person keys =",person.keys())

Person keys = dict_keys(['first_name', 'last_name', 'age', 'city'])

# **Set:**
- Create a set named colors with the values "red", "blue", "green".
- Add "yellow" to the set and remove "blue".
- Check if "pink" is in the set and display the result.

In [ ]:
colors = {"red","blue","green"}
colors.add("yellow"),colors.remove("blue")
"pink" in colors

False

# **Conditional Statements:**
4. Write a Python program that takes an input from the user and checks if the number is positive,
negative, or zero.
5. Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even
numbers from the list using a conditional statement.
6. Write a program that asks the user to enter their age. Based on the user's input, determine if they
are eligible to vote (consider the voting age as 18)

In [ ]:
# 4.
num = int(input("Enter a number"))
if num > 0:
  print("Number is Positive")
elif num == 0:
  print("Number is Zero")
else:
  print("Number is Negative")

Enter a number100
Number is Positive

In [ ]:
# 5.
jet = [23, 45, 8, 12, 78, 56, 89]

for d in jet:
  if d % 2 != 1:
    print(d)
  else:
    d+1

8
12
78
56

In [ ]:
# 6.
age = int(input("Enter your age: "))
if age >= 18:
  print("Being", age, "You are elligible to vote.")
else:
  print("You only have ", 18 - age, " years before you can vote.\nGrow Older kid!")

Enter your age: 25
Being 25 You are elligible to vote.

# **While Loop:**
7. Write a program that prompts the user to enter numbers continuously (using a while loop) and
stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.
8. Create a Python program using a while loop that prints numbers from 10 down to 1 and then
prints "Liftoff!".
9. Create a program that asks the user for a number and then prints out the multiplication table for
that number using a while loop.

In [ ]:
# 7.
program = input("Enter number:")
q = "q"
while program != q:
  program = input("Enter number:")

Enter number:1
Enter number:2
Enter number:
Enter number:
Enter number:5
Enter number:6
Enter number:a
Enter number:b
Enter number:q

In [ ]:
# 8.
liftoff = 10
while liftoff != 0:
  print(liftoff)
  liftoff -= 1
  if liftoff == 0:
    print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [ ]:
# 9.
a = int(input("Enter number: "))
b = 1
while b < 11:
    result = a * b
    print(a," * ",b," = ",result)
    b += 1

Enter number: 3
3  *  1  =  3
3  *  2  =  6
3  *  3  =  9
3  *  4  =  12
3  *  5  =  15
3  *  6  =  18
3  *  7  =  21
3  *  8  =  24
3  *  9  =  27
3  *  10  =  30

# **For Loop:**
10. Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list.
11. Using a for loop, calculate the factorial of a given number (n!). For example, if the given number
is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120.
12. Create a program using a for loop that prompts the user to enter five numbers. After all numbers
are entered, the program should display the average of the numbers

In [ ]:
# 10.
lolli = ["apple", "banana", "cherry", "date"]
for f in lolli:
  print(f)

apple
banana
cherry
date

In [ ]:
# 11.
pop = 5
rain = 1
if pop >= 1:
  for i in range (1, pop+1):
    rain = rain * i
print("Sum is ", rain)

Sum is  120

In [ ]:
# 12.
fish = [int(input()),int(input()),int(input()),int(input()),int(input())]
add = 0
for i in fish:
  add += i
avg = add / 5
print("Average = ",avg)

1
1
10
20
1
Average =  6.6