 ### Yvonne Guajardo

# Homework 4

### Data Structures

1.) List and Tuple

In [27]:
fruits = ["apple", "banana", "cherry"]       # List for fruits

In [28]:
fruits_tuple = tuple(fruits)                 # Converting list to tuple

In [29]:
fruits.append("orange")                      # Adding orange to list of fruits

In [30]:
print(fruits)                                # Printing fruits

['apple', 'banana', 'cherry', 'orange']

In [31]:
print(fruits_tuple)                         # Printing tuple

('apple', 'banana', 'cherry')

2.) Dictionary

In [315]:
person = {"first_name" : "Bob",        # Creating dictionary
          "last_name" : "Sponge",
          "age" : 100}

In [316]:
person

{'first_name': 'Bob', 'last_name': 'Sponge', 'age': 100}

In [317]:
person["city"] = "Dallas"             # adding key value city

In [318]:
person

{'first_name': 'Bob', 'last_name': 'Sponge', 'age': 100, 'city': 'Dallas'}

In [319]:
person.keys()                         # displaying keys

dict_keys(['first_name', 'last_name', 'age', 'city'])

3.) Set:

In [132]:
colors = {"red", "blue", "green"}   # Set named colors

In [133]:
colors.add("yellow")   # adding yellow

In [134]:
colors

{'blue', 'green', 'red', 'yellow'}

In [135]:
colors.remove("blue")  # removing blue

In [136]:
colors

{'green', 'red', 'yellow'}

In [137]:
print("pink" in colors) # checking if pink is in set and printing

False

### Conditional Statements

4.) Write a Python program that takes an input from the user and checks if the number is positive, negative, or zero.

In [344]:
number = float(input("Please enter a number: ")) # input from user

if number > 0:  
    print("Positive")   # if positive
elif number < 0:
    print("Negative")   # if negative
else: 
    print("Zero")       # if zero

Please enter a number: 10
Positive

5.) Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even numbers from the list using a conditional statement.

In [158]:
numbers = [23,45,8,12,78,56,89] # list of given numbers

In [159]:
for n in numbers:   # condition for even numbers
    if n%2 == 0:
        print(n)    # printing

8
12
78
56

6.) Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider the voting age 18).

In [161]:
age = float(input("Please enter you age: ")) # asking user to input age

# Conditonal statement on whether user can vote or not
if age >= 18:     
    print("Eligible to vote.")
else:
    print("You are not eligible!")

Please enter you age: 17
You are not eligible!

### While loop

7.) Write a program that prompts the user to enter numbers contiously (using a while loop) and stops taking inputs when the user enter 'q'. After that, display the sum of all the numbers entered.

In [236]:
sum = 0   # total sum of numbers entered

while True:   # loop 
    number = input("Please enter a number (q to quit):")
    if number == "q":   # quit if q is entered
        break
    else:      # condition for the total
        totalnum = int(number)
        sum += totalnum
print(sum)

Please enter a number (q to quit):4
Please enter a number (q to quit):4
Please enter a number (q to quit):4
Please enter a number (q to quit):4
Please enter a number (q to quit):q
16

8.) Create a Python program using a while loop that prints numbers from 10 down to 1 and then prints "Liftoff!"

In [345]:
i = 10         # variable starting at 10

while i > 0:   # loop for numbers 10 to 1
    print(i)
    i -= 1     # subtracting one

print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

9.) Create a program that asks the user for a number and then prints out the miltiplication table for that number using a while loop.

In [303]:
num = int(input("Please enter a number:")) # user input
i = 1     # counter variable

# loop
while i <= 10:    # creating range
        product = num * i # variable for product
        print(num, " * ", i, " = ", product, "\n") #printing table
        i = i + 1 # increasing by 1

Please enter a number:2
2  *  1  =  2

2  *  2  =  4

2  *  3  =  6

2  *  4  =  8

2  *  5  =  10

2  *  6  =  12

2  *  7  =  14

2  *  8  =  16

2  *  9  =  18

2  *  10  =  20

## For loop:

10.) Give a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list.

In [328]:
fruits = [ "apple", "banana", "cherry", "date"]  #list

# for loop to print list
for i in fruits:  
    print(i)

apple
banana
cherry
date

11.) Using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120/

In [327]:
n = 5          # variable for given number
factorial = 1  # variable for factorial 

# for loop to calculate factorial
for i in range (n):
    factorial *= i + 1 # calculating 
    
print(factorial)

120

12.) Create a program using a for loop that prompts the user to enter five numbers. After all numbers are entered, the program should display the average of the mubers.

In [341]:
sum = 0  # initialzing sum variable

# for loop for 5 numbers
for i in range(1,6): 
    number = int(input("Please enter 5 numbers:")) 
    # calculating
    sum += number
    average = sum / 5
print("Average: " , average)

Please enter 5 numbers:4
Please enter 5 numbers:4
Please enter 5 numbers:4
Please enter 5 numbers:4
Please enter 5 numbers:5
Average:  4.2