Name: Christine Pham

ID: 1001705879

***

# ***Data Structures***

## **1. List and Tuple**

- create a list names fruits containing the following: "apple", "banana", "cherry"
- convert this list into a tuple
- add "orange" to the list of fruits
- show the difference in the content of the list and tuple after the addition

In [2]:
list_fruits=["apple","banana","cherry"]
print(list_fruits)

['apple', 'banana', 'cherry']

In [3]:
tuple_fruits=tuple(list_fruits)
print(tuple_fruits)

('apple', 'banana', 'cherry')

In [4]:
list_fruits.append("orange")
print(list_fruits)

['apple', 'banana', 'cherry', 'orange']

In [6]:
print("fruit (list):",list_fruits)
print("fruit (tuple):",tuple_fruits)

fruit (list): ['apple', 'banana', 'cherry', 'orange']
fruit (tuple): ('apple', 'banana', 'cherry')

## **2. Dictionary**

- Create a dictionary named person with keys "first_name", "last_name", and "age". 
    - Populate it with values of your choice.
- Add a new key-value pair, "city" with a value of your choice.
- Display the keys in the dictionary using a Python command

In [11]:
person={"first_name":"Sebastian","last_name":"Gutierrez","age":22}
print(person)

{'first_name': 'Sebastian', 'last_name': 'Gutierrez', 'age': 22}

In [13]:
person["city"]="Fort Worth"
print(person)

{'first_name': 'Sebastian', 'last_name': 'Gutierrez', 'age': 22, 'city': 'Fort Worth'}

In [17]:
person.keys()

dict_keys(['first_name', 'last_name', 'age', 'city'])

## **3. Set**

- Create a set named colors with the values "red", "blue", "green".
- Add "yellow" to the set and remove "blue".
- Check if "pink" is in the set and display the result

In [13]:
colors={"red","blue","green"}
print(colors)

{'green', 'red', 'blue'}

In [14]:
colors.add("yellow")
colors.remove("blue")
print(colors)

{'green', 'yellow', 'red'}

In [17]:
"pink" in colors

False

***

# ***Conditional Statements***

### 4. Write a Python program that takes an input from the user and checks if the number is positive, negative, or zero.

In [27]:
x=-5

if x>0:
    print("number is positive")
elif x==0:
    print("number is zero")
else:
    print("number is negative")

number is negative

### 5. Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even numbers from the list using a conditional statement.

In [35]:
list_num=[23,45,8,12,78,56,89]

for n in list_num:
    if n%2==0:
        print(n)

8
12
78
56

### 6. Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider the voting age as 18).

In [18]:
age=int(input("Enter your age:"))

if age<18:
    print("You are not allowed to vote")
else:
    print("You are allowed to vote")

Enter your age:18
You are allowed to vote

***

# ***While Loop***

### 7. Write a program that prompts the user to enter numbers continuously (using a while loop) and stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.

In [22]:
m=[]
total_sum=0

while True:
    m=input("Enter a number or 'q' to quit:")
    if m=="q":
        break
    m=float(m)
    total_sum+=m

print("total sum:",total_sum)

Enter a number or 'q' to quit:1
Enter a number or 'q' to quit:2
Enter a number or 'q' to quit:3
Enter a number or 'q' to quit:4
Enter a number or 'q' to quit:5
Enter a number or 'q' to quit:q
total sum: 15.0

### 8. Create a Python program using a while loop that prints numbers from 10 down to 1 and then prints "Liftoff!".

In [8]:
n=10

while n!=0:
    print(n)
    n=n-1
if n==0:
    print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

### 9. Create a program that asks the user for a number and then prints out the multiplication table for that number using a while loop.

In [42]:
n=1
m=int(input("Enter a number:"))

while n<=12:
    prod=n*m
    n=n+1
    print(n-1,"*",m,"=",prod)

Enter a number:5
1 * 5 = 5
2 * 5 = 10
3 * 5 = 15
4 * 5 = 20
5 * 5 = 25
6 * 5 = 30
7 * 5 = 35
8 * 5 = 40
9 * 5 = 45
10 * 5 = 50
11 * 5 = 55
12 * 5 = 60

***

# ***For Loop***

### 10. Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list.

In [26]:
lfruits=["apple","banana","cherry","date"]

for f in lfruits:
    print(f)

apple
banana
cherry
date

### 11. Using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120.

In [43]:
c=int(input("Enter a number:"))

if c>0:
    print(c,"! = ",end='')
    c_list=[]
    while c>0:
        c_list.append(c)
        c-=1
    factorial=1
    for i in c_list:
        factorial*=i
        if i>1:
            print(i,"* ",end='')
    print("1 =",factorial)    
else:
    print("0! = 1")

Enter a number:10
10 ! = 10 * 9 * 8 * 7 * 6 * 5 * 4 * 3 * 2 * 1 = 3628800

### 12. Create a program using a for loop that prompts the user to enter five numbers. After all numbers are entered, the program should display the average of the numbers.

In [41]:
a=[1,2,3,4,5]
e=0

for b in a:
    d=int(input("Enter a number:"))
    e+=d
    average=e/5
    
print("average:",average)

Enter a number:3
Enter a number:6
Enter a number:2
Enter a number:5
Enter a number:4
average: 4.0