## 1. List and Tuple

In [1]:
fruits = ["apple", "banana", "cherry"]

In [2]:
fruits

['apple', 'banana', 'cherry']

In [10]:
fruits = ("apple", "banana", "cherry")

In [11]:
fruits

('apple', 'banana', 'cherry')

In [14]:
fruits.append('orange')

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
Tuple shows error because a tuple cannot be altered.

In [16]:
fruits

['apple', 'banana', 'cherry', 'orange']

## 2. Dictionary

In [33]:
person = {'first name':'Little','last name':'Mouse',"age":31}

In [34]:
person

{'first name': 'Little', 'last name': 'Mouse', 'age': 31}

In [35]:
person.keys()

dict_keys(['first name', 'last name', 'age'])

In [36]:
person.values()

dict_values(['Little', 'Mouse', 31])

In [40]:
person["age"]

31

In [45]:
person

{'first name': 'Little', 'last name': 'Mouse', 'age': 31}

In [46]:
person["City"]="Dallas"

In [47]:
person

{'first name': 'Little', 'last name': 'Mouse', 'age': 31, 'City': 'Dallas'}

In [49]:
person['first name']='Little'
person['last name']='Mouse'
person["age"]="31"
person["City"]="Dallas"

In [50]:
person

{'first name': 'Little', 'last name': 'Mouse', 'age': '31', 'City': 'Dallas'}

## 3. Set

In [51]:
colors={"red", "blue", "green"}

In [52]:
colors

{'blue', 'green', 'red'}

In [53]:
colors.add("yellow")

In [54]:
colors.remove("blue")

In [55]:
colors

{'green', 'red', 'yellow'}

## 4.Write a Python program that takes an input from the user and checks if the number is positive, negative or zero.

In [71]:
Number = 5
if Number == 0:
    print("Number is Zero")
elif Number < 0:
    print("Number is Negative")
else: 
    print ("Number is Positive")

Number is Positive

## 5. Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even numbers from the list using a conditional statement:

In [119]:
ListA=[23,45,8,12,78,56,89]
for num in ListA:
    if (num % 2 == 0):
        print(num)

8
12
78
56

## 6. Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider the voting age 18).

In [138]:
age=21

if age>18:
    print("Eligible to Vote")
else:
    print("Not Eligible to Vote")

Eligible to Vote

## 7. Write a program that prompts the user to enter numbers continuously (using a while loop) and stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.

In [1]:
x=[]
while True:
    try:
        line = input('enter a number: ')
        if line == 'q':
            break
        x.append(int(line))
    except:
        pass
print(sum(x),len(x),sum(x)/len(x))

enter a number: 1
enter a number: 2
enter a number: 3
enter a number: 4
enter a number: 5
enter a number: q
15 5 3.0

## 8. Create a Python program using a while loop that prints numbers from 10 down to 1 and then prints "Liftoff!".

In [189]:
num=10
while num>0:
    print(num)
    num=num-1
if num<1:
    print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

## 9.Create a program that asks the user for a number and then prints out the multiplication table for that number using a while loop.

In [198]:
table   =int(input("Enter the table :"))
start   =int(input("Enter the starting number : "))
limit   =int(input("Enter the limit :"))
while(limit>=start):
   print(limit,"*",table,"=",limit*table)
   limit=limit-1

Enter the table :2
Enter the starting number : 1
Enter the limit :10
10 * 2 = 20
9 * 2 = 18
8 * 2 = 16
7 * 2 = 14
6 * 2 = 12
5 * 2 = 10
4 * 2 = 8
3 * 2 = 6
2 * 2 = 4
1 * 2 = 2

## 10. Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list.

In [200]:
fruits=["apple", "banana", "cherry", "date"]

for fruit in fruits:
    print(fruit)

apple
banana
cherry
date

## 11. Using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120

In [203]:
def factorial(n):
        if n==0 or n==1:
            return 1
        else:
            return n*factorial(n-1)

n=(int(input()))
list1=[str(i) for i in range(n,0,-1)]
print(" x ".join(list1),"=",factorial(n))

5
5 x 4 x 3 x 2 x 1 = 120

## 12.Create a program using a for loop that prompts the user to enter five numbers. After all numbers are entered, the program should display the average of the numbers

In [205]:
nums = [] 
for i in range(5): 
    num = int(input("Enter number : ")) 
    nums.append(num) 
 
print("The average :",sum(nums)/5)

Enter number : 1
Enter number : 2
Enter number : 3
Enter number : 4
Enter number : 5
The average : 3.0