# **Angela Hyson**

## **Due September 29**

## **Homework 4: Data Structure, Conditional Statement and Loop**

# **Data Structures:**

## *1. List and Tuple:*

In [ ]:
# Create a list name fruits containg the following: "apple", "banana", "cherry".
fruits=['apple','banana','cherry']
fruits

['apple', 'banana', 'cherry']

In [ ]:
# Convert this list into a tuple.
tuple(fruits)

('apple', 'banana', 'cherry')

In [ ]:
# Add "orange" to the list of fruits.
fruits.append('orange')
fruits

['apple', 'banana', 'cherry', 'orange']

## *2. Dictionary:*

In [ ]:
# Create a dictionary named person with keys "first_name", "last_name", and "age".
# Populate it with values of your choice.
person={'first_name':'Angela','last_name':'Hyson','age':20}
person

{'first_name': 'Angela', 'last_name': 'Hyson', 'age': 20}

In [ ]:
# Add a new key-value pair, "city" with a value of your choice.
person['city']='Cedar Hill'

#Display the keys in the dictionary using a Python command.
person.keys()

dict_keys(['first_name', 'last_name', 'age', 'city'])

## *3. Set:*

In [ ]:
# Create a set named colors with the values "red", "blue", "green".
colors={'red','blue','green'}
colors

{'blue', 'green', 'red'}

In [ ]:
# Add "yellow" to the set and remove "blue".
colors.add('yellow')
colors

{'blue', 'green', 'red', 'yellow'}

In [ ]:
# Check if "pink" is in the set and display the result.
'pink' in colors

False

# **Conditional Statements:**

In [ ]:
# Write a Python program that takes an input from the user and checks if the number is positive, negative, or zero.
your_num=int(input('Enter a number:'))

if your_num>0:
  print('This number is positive')
elif your_num<0:
  print('This number is negative')
else:
  print('This number is zero')

Enter a number:-4
This number is negative

In [ ]:
# Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even numbers from the list using a conditional statement.
list_num=[23, 45, 8, 12, 78, 56, 89]

for n in list_num:
  if n % 2 == 0:
    print(n)

8
12
78
56

In [ ]:
# Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider the voting age as 18).
age=int(input('Enter your age: '))

if age>=18:
  print('You are eligible to vote')
else:
  print('You are not eligible to vote')

Enter your age:12
You are not eligible to vote

# **While Loop:**

In [ ]:
# Write a program that prompts the user to enter numbers continuously (using a while loop) and stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.
numbers=''
total=0

while numbers != 'q':
  numbers=input('')
  if numbers == 'q':
    inp=(int(numbers))
    sum = total + inp
    print(sum)

# ???????????????????

3
7
12
q

ValueError: ignored

In [ ]:
# Create a Python program using a while loop that prints numbers from 10 down to 1 and then prints "Liftoff!".
num=10

while num>0:
  print(num)
  num=num-1
print('Liftoff!')

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [ ]:
# Create a program that asks the user for a number and then prints out the multiplication table for that number using a while loop.
num=int(input('Enter a number: '))
count = 1

while count <=10:
  product = num * count
  print(f'{num} * {count} = {product}')
  count += 1

Enter a number: 4
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
4 * 10 = 40

# **For Loop:**

In [ ]:
# Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list.
fruit=['apple','banana','cherry','date']

for f in fruit:
  print(f)

apple
banana
cherry
date

In [ ]:
# Using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120.
n=int(input('Enter a number: '))
count=n-1

for i in range(1,n+1):
  total *= i
print(f'{n} * {count} = {total}')

## ??????????????

Enter a number: 2
2 * 1 = 40

In [ ]:
# Create a program, using a for loop that prompts the user to enter five numbers. After all numbers are entered, the program should display the average of the numbers.
total=0

for i in range(5):
  num=int(input('Enter number: '))
  total += num
av=total / 5
print(f'average: {av}')

Enter number: 2
Enter number: 3
Enter number: 4
Enter number: 5
Enter number: 6
average: 4.0