## 1. List and Tuple:
### ○ Create a list named fruits
### containing the following: "apple",  "banana", "cherry".
### ○ Convert this list into a tuple.
### ○ Add "orange" to the list of fruits.
### ○ Show the difference in the content ### of the list and tuple after the addition

In [1]:
fruits=["apple","banana","cherry"]

In [2]:
fruits_tuples=(fruits)  #converting to tuples

In [4]:
fruits

['apple', 'banana', 'cherry']

In [5]:
fruits.append("orange")  #adding to the list of fruits but we won't be able to add it to the tuples directly since tuples can't be modified

In [9]:
print(fruits)

print(fruits_tuples)

['apple', 'banana', 'cherry', 'orange']
['apple', 'banana', 'cherry', 'orange']

## 2. Dictionary:
### ○ Create a dictionary named person with keys "first_name", "last_name", and "age".
### Populate it with values of your choice.
### ○ Add a new key-value pair, "city" with a value of your choice.
### ○ Display the keys in the dictionary using a Python command.

In [10]:
person={"first_name":"Feyruz","last_name":"Habteab","age":23}

In [12]:
person["city"]="Arlington"   #adding a new key-value pair

In [15]:
person.keys()

dict_keys(['first_name', 'last_name', 'age', 'city'])

## 3. Set:
### ○ Create a set named colors with the values "red", "blue", "green".
### ○ Add "yellow" to the set and remove "blue".
### ○ Check if "pink" is in the set and display the result.

In [16]:
colors={"red","blue","green"}

In [17]:
colors.add("yellow")  #adding

colors.remove("blue")

In [19]:
colors        #displaying the result and checking if pink is in the list

{'green', 'red', 'yellow'}

## 4. Write a Python program that takes an input from the user and checks if the number is positive,negative, or zero

In [23]:
n=int(input())

if n==0:
  print("zero")
elif n>0:
  print("postive")
else:
  print("negative")

0
zero

## 5. Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even numbers from the list using a conditional statement

In [ ]:
num=[23,45,8,12,78,56,89]
n=num%2
if n == 0:
  print(num)

## 6. Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider the voting age as 18).

In [43]:
age=int(input("Enter your age:"))

if age >= 18:
  print("You are eligible to vote")
else:
  print("you are not eligible to vote, the legal age for voting is 18")

Enter your age:17
you are not eligible to vote, the legal age for voting is 18

## 7. Write a program that prompts the user to enter numbers continuously (using a while loop) and stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.

In [ ]:
entered_num=""


while entered_num!='q':
  entered_num=input("Enter numbers continously:")
  sum=0
sum+=entered_num  ## i couldn't figure out a way to use int and str together since user inout is int and str("q")
print(sum)

## 8. Create a Python program using a while loop that prints numbers from 10 down to 1 and then prints "Liftoff!"

In [107]:
n=11
while n>1:
  n-=1
  print(n)
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

## 9.Create a program that asks the user for a number and then prints out the multiplication table for that number using a while loop.

In [ ]:
number=int(input("enter a number:"))
n=0

while n <10:
  multiply=(n*number)
  n=n+1
  print(n)

## 10. Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list

In [126]:
my_list=["apple","banana","cherry","date"]

In [127]:
for i in my_list:
  print(i)

apple
banana
cherry
date

## 11. Using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120

In [131]:
n = int (input ("Enter a number: "))
factorial = 1
if n >= 1:
    for i in range (1, n+1):
        factorial=factorial *i
print( factorial)

Enter a number: 5
120

## 12. Create a program using a for loop that prompts the user to enter five numbers. After all numbers are entered, the program should display the average of the numbers

In [ ]:
nums = []
for i in range(5):
    num = int(input("Enter number :"))
    nums.append(num)
result=(sum(nums)/5)    ## i an able to run it in a terminal but i couldn't here
print(result)