List and Tuple:

In [1]:
# Create a list named fruits
fruits = ["apple", "banana", "cherry"]

# Convert the list into a tuple
fruits_tuple = tuple(fruits)

# Add "orange" to the list of fruits
fruits.append("orange")

# Show the content of the list and tuple after the addition
print("List of fruits:", fruits)
print("Tuple of fruits:", fruits_tuple)

List of fruits: ['apple', 'banana', 'cherry', 'orange']
Tuple of fruits: ('apple', 'banana', 'cherry')

Dictionary

In [2]:
# Create a dictionary named person
person = {
    "first_name": "John",
    "last_name": "Doe",
    "age": 30
}

# Add a new key-value pair "city" with a value
person["city"] = "New York"

# Display the keys in the dictionary
print("Keys in the dictionary:")
for key in person.keys():
    print(key)

Keys in the dictionary:
first_name
last_name
age
city

3. Set:

In [3]:
# Create a set named colors
colors = {"red", "blue", "green"}

# Add "yellow" to the set
colors.add("yellow")

# Remove "blue" from the set
colors.remove("blue")

# Check if "pink" is in the set
is_pink_in_set = "pink" in colors

# Display the result
print("Updated set of colors:", colors)
print("Is 'pink' in the set?", is_pink_in_set)

Updated set of colors: {'red', 'yellow', 'green'}
Is 'pink' in the set? False

4

In [4]:
# Get user input as a float (to handle decimal numbers as well)
user_input = float(input("Enter a number: "))

# Check if the number is positive, negative, or zero
if user_input > 0:
    print("The number is positive.")
elif user_input < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 6
The number is positive.

5

In [5]:
# Define the list of numbers
numbers = [23, 45, 8, 12, 78, 56, 89]

# Iterate through the list
for num in numbers:
    # Check if the number is even (divisible by 2)
    if num % 2 == 0:
        print(num)

8
12
78
56

6

In [6]:
# Get user input for age
age = int(input("Enter your age: "))

# Check if the user is eligible to vote
if age >= 18:
    print("You are eligible to vote.")
else:
    print("You are not eligible to vote.")

Enter your age: 56
You are eligible to vote.

7

In [7]:
# Initialize a variable to store the sum
total = 0

# Prompt the user for input and calculate the sum
while True:
    user_input = input("Enter a number (or 'q' to quit): ")

    # Check if the user wants to quit
    if user_input.lower() == 'q':
        break

    try:
        # Convert the user input to a float (to handle decimal numbers)
        num = float(user_input)
        # Add the number to the total
        total += num
    except ValueError:
        print("Invalid input. Please enter a number or 'q' to quit.")

# Display the sum of all entered numbers
print("Sum of entered numbers:", total)

Enter a number (or 'q' to quit): 4
Enter a number (or 'q' to quit): 4
Enter a number (or 'q' to quit): 4
Enter a number (or 'q' to quit): 2
Enter a number (or 'q' to quit): 4
Enter a number (or 'q' to quit): 5
Enter a number (or 'q' to quit): 2
Enter a number (or 'q' to quit): q
Sum of entered numbers: 25.0

8

In [8]:
# Initialize the starting number
countdown = 10

# Use a while loop to count down
while countdown >= 1:
    print(countdown)
    countdown -= 1  # Decrement the countdown

# After the loop, print "Liftoff!"
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

9

In [9]:
# Get user input for the number
number = int(input("Enter a number: "))

# Initialize a variable for the multiplier
multiplier = 1

# Print the multiplication table using a while loop
while multiplier <= 10:  # You can change the limit for the table
    result = number * multiplier
    print(f"{number} x {multiplier} = {result}")
    multiplier += 1

Enter a number: 56
56 x 1 = 56
56 x 2 = 112
56 x 3 = 168
56 x 4 = 224
56 x 5 = 280
56 x 6 = 336
56 x 7 = 392
56 x 8 = 448
56 x 9 = 504
56 x 10 = 560

10

In [11]:
fruits = ["apple", "banana", "cherry", "date"]

# Iterate through the list and print each fruit
for fruit in fruits:
    print(fruit)

apple
banana
cherry
date

11

In [12]:
# Get the input number from the user
n = int(input("Enter a number: "))

# Initialize the factorial to 1
factorial = 1

# Calculate the factorial using a for loop
for i in range(1, n + 1):
    factorial *= i

# Print the result
print(f"{n}! =", factorial)

Enter a number: 6
6! = 720

12

In [14]:
# Initialize a variable to store the sum of numbers
total = 0

# Prompt the user to enter five numbers
for i in range(5):
    number = float(input(f"Enter number {i + 1}: "))
    total += number

# Calculate the average
average = total / 5

# Display the average
print(f"The average of the five numbers is: {average}")

Enter number 1: 3
Enter number 2: 4
Enter number 3: 6
Enter number 4: 2
Enter number 5: 4
The average of the five numbers is: 3.8