# 1. List and Tuple

In [1]:
fruits=['apple','banana','cherry']

In [2]:
def convert(fruits):
    return tuple(fruits)

In [ ]:
fruits.append('orange')

In [ ]:
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [ ]:
print(convert(fruits))

('apple', 'banana', 'cherry', 'orange')

# 2. Dictionary

In [ ]:
person={"first_name":"Ravhanna","last_name":"Chrisco","age":24}

In [ ]:
person['city']="san francisco"

In [ ]:
person.keys()

dict_keys(['first_name', 'last_name', 'age', 'city'])

# 3. Set

In [ ]:
colors={'red','blue','green'}

In [ ]:
colors.add('yellow')

In [ ]:
colors.remove('blue')

In [ ]:
"pink" in colors

False

# Conditional Statements

4. Write a python program that takes an input from user and checks if the number is positive, zero, or negative.

In [5]:
number=int(input("Please insert an integer"))

Please insert an integer0

In [6]:
if number>0:
    print("This number is positive.")
elif number<0:
    print("This number is negative.")
else:
    print("This number is zero.")

This number is zero.

5. Given list, print out all even numbers from list using conditional statement.

In [7]:
list1=[23,45,8,12,78,56,89]

In [9]:
for i in list1:
  if i % 2 ==0:
    print(i)

8
12
78
56

6. Write a program that asks the user to enter their age. Based on the user's input, determine if the are eligible to vote.

In [10]:
age=int(input("What is your age? "))

What is your age?25

In [11]:
if age>=18:
  print("You are eligable to vote.")
else:
  print("You are too young to vote")

You are eligable to vote.

# 7.

In [25]:
letter=input("Type a letter: ")
guesses=1
while letter!="q":
  print(letter)
  letter=input("Type another letter:")
  guesses+=1
  if letter=="q":
    print('Guesses:',guesses)

Type a letter: g
g
Type another letter:t
t
Type another letter:g
g
Type another letter:k
k
Type another letter:l
l
Type another letter:m
m
Type another letter:n
n
Type another letter:o
o
Type another letter:p
p
Type another letter:q
Guesses: 10

# 8.

In [28]:
l=10
while l>=1:
  print(l)
  l=l-1
  if l==0:
    print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

#9.
create a number that asks the user for a number then prints out the multiplication table for that number using a while loop.

In [34]:
x=int(input("Insert a number into the multiplication tabel: "))
y=1
while y<=45:
  print(x*y)
  y=y+1

Insert a number into the multiplication tabel: 4
4
8
12
16
20
24
28
32
36
40
44
48
52
56
60
64
68
72
76
80
84
88
92
96
100
104
108
112
116
120
124
128
132
136
140
144
148
152
156
160
164
168
172
176
180

# 10.

In [35]:
list10=["apple","banana","cherry","date"]
for i in list10:
  print(i)

apple
banana
cherry
date

# 11.

In [40]:
factorial=1
n=int(input('Please insert a number:'))
for i in range(1,n+1):
  factorial=factorial*i
print("The Factorial ",n,"is",factorial)

Please insert a number:3
The Factorial  3 is 6

# 12.

In [52]:
a=int(input("input a number: "))
b=int(input("input a number: "))
c=int(input("input a number: "))
d=int(input("input a number: "))
e=int(input("input a number: "))
mums=(a,b,c,d,e)
sum=0
for i in mums:
  sum=sum+i
had = sum/5
print("The average is ", had)

input a number: 4
input a number: 2
input a number: 2
input a number: 3
input a number: 6
The average is  3.4

In [ ]:
4