# 1. List and Tuple:
- Create a list named fruits containing the following: "apple", "banana", "cherry".
- Convert this list into a tuple.
- Add "orange" to the list of fruits.
- Show the difference in the content of the list and tuple after the addition.

In [2]:
fruits = ['apple', 'banana', 'cherry'] #list of fruits

fruits_tuple = tuple(fruits) #convert to tuple

fruits.append('orange') #add orange to the list

print(fruits) #show the list
print(fruits_tuple) #show the tuple

['apple', 'banana', 'cherry', 'orange']
('apple', 'banana', 'cherry')

#2. Dictionary:
- Create a dictionary named person with keys "first_name", "last_name", and "age".
Populate it with values of your choice.
- Add a new key-value pair, "city" with a value of your choice.
- Display the keys in the dictionary using a Python command.

In [6]:
person = {"first_name":"Kazuha",
          "last_name":"Kaedahara",
          "age":"21"} #dictionary

person["city"] = "Inazuma" #add new key-value pair
person.keys() #print only keys

dict_keys(['first_name', 'last_name', 'age', 'city'])

#3. Set:
- Create a set named colors with the values "red", "blue", "green".
- Add "yellow" to the set and remove "blue".
- Check if "pink" is in the set and display the result.

In [7]:
colors = {'red','blue','green'} #init set
colors.add('yellow') #add yellow
colors.remove('blue') #remove blue

if 'pink' in colors:
  print("Pink is in the colors set") #print if true
else:
  print("Pink is NOT in the colors set") #else if false

Pink is NOT in the colors set

#4. Write a Python program that takes an input from the user and checks if the number is positive, negative, or zero.

In [8]:
num = int(input("Enter an integer:")) #obtain user number

if num>0:
  print("Positive") #>0 means positive
elif num<0:
  print("Negative") #<0 means negative
else:
  print("Zero") #if neither then it is 0

Enter an integer:0
Zero

#5. Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even numbers from the list using a conditional statement.

In [9]:
nums = [23,45,8,12,78,56,89] #init list of numbers

for n in nums: #iterate through all numbers in list
  if n%2 == 0: #if there is no remainder after dividing by two, it is even
    print("\n",n) #print if even

 8

 12

 78

 56

#6. Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider the voting age as 18).

In [10]:
age = int(input("Enter your age:")) #get age from user

if age>=18:
  print("You are eligible to vote!") #if 18 or older, can vote
else:
  print("You are NOT eligible to vote.") #if younger then cannot vote

Enter your age:20
You are eligible to vote!

#7. Write a program that prompts the user to enter numbers continuously (using a while loop) and stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered

In [14]:
n=0 #init n for input
sum=0 #init sum

while n != 'q': #check if user entered q
  n = input("Enter a number or q to quit:") #obtain user input
  if n != 'q': #if it is not q then add to sum or else it will break when entering q
    sum += int(n) #accumulate sum

print(sum) #print sum

Enter a number or q to quit:5
Enter a number or q to quit:5
Enter a number or q to quit:q
10

#8. Create a Python program using a while loop that prints numbers from 10 down to 1 and then prints "Liftoff!".

In [18]:
n=0 #init counter
while n in range(0,10): #go from 0-10 (exclusive)
  print(n+1) #add 1 to make it start at 1 and end at 10
  n += 1 #add to counter

print("Liftoff!")#print liftoff after while loop

1
2
3
4
5
6
7
8
9
10
Liftoff!

#9. Create a program that asks the user for a number and then prints out the multiplication table for that number using a while loop.

In [23]:
num = int(input("Enter an integer:")) #get number from user
n=0 #init counter
while n in range(0,13): #mult table will go from 0-12
  print(num, "*", n, "=", num*n) #print the mult equation and answer
  n += 1 #update counter

Enter an integer:2
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20
2 * 11 = 22
2 * 12 = 24

#10. Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list.

In [24]:
fruits = ['apple','banana','cherry','date'] #init list

for fruit in fruits: #iterate through list
  print(fruit) #print contents

apple
banana
cherry
date

#11. Using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120.

In [33]:
num = int(input("Enter an integer:")) #init num
factorial = 1 #init factorial at 1 so it's not 0
str1 = '' #init the string to hold output

for n in range(1,num+1): #start at 1 and go to num
  if n != 1:
    str1 = str(n) + ' x ' + str1 #build string
  else:
    str1 = str(n) + str1 #this is here so there is no multiplication sign at the end
  factorial *= n; #calc factorial

print(str1,'=',factorial)

Enter an integer:5
5 x 4 x 3 x 2 x 1 = 120

#12. Create a program using a for loop that prompts the user to enter five numbers. After all numbers are entered, the program should display the average of the numbers.

In [40]:
sum = 0 #init sum as 0 or it will not calc right
for n in range(0,5): #loop 5 times
  num = int(input("Enter integer:")) #get int
  sum += num #accumulate sum
print(sum/5) #divide for avg

Enter integer:5
Enter integer:5
Enter integer:5
Enter integer:6
Enter integer:5
5.2