## Data Structures

1. List and Topic

In [37]:
fruits=['apple', 'banana', 'cherry']

In [31]:
fruits = tuple(fruits)

In [32]:
fruits

('apple', 'banana', 'cherry')

In [33]:
fruits= [*fruits,]

In [34]:
fruits

['apple', 'banana', 'cherry']

In [35]:
fruits.append('orange')

In [36]:
fruits

['apple', 'banana', 'cherry', 'orange']

In [38]:
## tuples are immutable

2. Dictionary:

In [40]:
person={'first_name': 'Nino', 'last_name': 'DelPrete', 'age': 30}

In [47]:
person['city']={'city':'Denton' }

In [50]:
print(person.keys())

dict_keys(['first_name', 'last_name', 'age', 'city'])

## 3. Set

In [51]:
colors = {'red', 'blue', 'green'}

In [52]:
colors.add('yellow')
removedValue = colors.discard('blue')

In [54]:
print('pink' in colors)

False

## Conditional Statements

4.

In [55]:
num=float(input('Input a number:'))
if num>0:
  print('It is a positive number')
elif num == 0:
  print('It is zero')
else:
  print('It is a negative number')

Input a number:9
It is a positive number

**5.**

In [56]:
list=[23,45,8,12,78,56,89]
even_nos = [ num for num in list if num % 2 == 0]
print('Even numbers in the list', even_nos)

Even numbers in the list [8, 12, 78, 56]

**6.**

In [57]:
age=int(input('Enter age:'))

if age>= 18:
  print('Eligible for Voting!')
else:
  print('Not eligible to vote.')

Enter age:18
Eligible for Voting!

**7.**

In [63]:
prompt = "Please enter a number: "
sum = 0
count = 0
while True:
    s = input(prompt)
    prompt = "Please enter another number: "
    if s.lower() == 'q':
        break
    try:
        sum += float(s)
        count += 1
    except ValueError:
        print("Bad number.  Try again")
print("You entered %s numbers whose sum is %s." % (count, sum))

Please enter a number: 5
Please enter another number: 5
Please enter another number: 6
Please enter another number: 9
Please enter another number: q
You entered 4 numbers whose sum is 25.0.

**8.**

In [72]:
x = 10
while x > 0:
    print(x)
    x = x - 1


print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

**9.**

In [74]:
num = int(input("Enter the number: "))

print("Multiplication Table of", num)
for i in range(1, 11):
   print(num,"X",i,"=",num * i)

Enter the number: 5
Multiplication Table of 5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

## For Loop

**10.**

In [77]:
fruitloop = ['apple', 'banana', 'cherry', 'date']
[print(i, end=' ') for i in fruitloop]

print("\nIn new line")
[print(i) for i in fruitloop]

apple banana cherry date
In new line
apple
banana
cherry
date

[None, None, None, None]

**11.**

In [82]:
n = int(input("Enter a number: "))

factorial = 1

if n < 0:
   print("Factors do not exist for negative numbers.")
elif n == 0:
   print("The factorial of 0 is 1.")
else:
   for i in range(1,n + 1):
       factorial = factorial*i
   print("The factorial of",n,"is",factorial)

Enter a number: 4
The factorial of 4 is 24

**12.**

In [89]:
num1 = float(input('Enter first number: '))
num2 = float(input('Enter second number: '))
num3 = float(input('Enter third number: '))
num4 = float(input('Enter four number: '))
num5 = float(input('Enter fifth number: '))
avg = (num1 + num2 + num3 + num4 + num5) / 5
print('The average of numbers = %0.2f' %avg)

Enter first number: 5
Enter second number: 10
Enter third number: 1
Enter four number: 7
Enter fifth number: 3
The average of numbers = 5.20