## **Data Structures**

## **1. List and Tuple**

In [9]:
fruits={"apple","banana","cherry"}

In [10]:
fruits_2=tuple(fruits)

In [11]:
fruits.add("orange")

In [12]:
diff=fruits.difference(fruits_2)
diff

{'orange'}

## **2. Dictionary**

In [28]:
persons={"first_name":"Phat","last_name":"Dinh","age":19}

In [29]:
persons["city"]="Arlington"
print(persons)

{'first_name': 'Phat', 'last_name': 'Dinh', 'age': 19, 'city': 'Arlington'}

In [30]:
persons.keys()

dict_keys(['first_name', 'last_name', 'age', 'city'])

# **3. Set**

In [17]:
colors={"red","blue","green"}

In [18]:
colors.add("yellow")

In [19]:
colors.remove("blue")

In [20]:
colors

{'green', 'red', 'yellow'}

In [14]:
"pink" in colors

False

# **4. Conditional Statements**

In [25]:
num=int(input("Enter a number: "))

if num==0:
  print("zero")
elif num>0:
  print("positive")
else:
  print("negative")

Enter a number: -5
negative

In [31]:
ls=[23,45,8,12,78,56,89]

for n in ls:
  if n%2==0:
    print(f"{n}")
  else:
    print()

8
12
78
56

In [33]:
age=int(input("Enter your age:"))

if age>18:
  print("Eligible to vote")
else:
  print("Not eligible to vote")

Enter your age:19
Eligible to vote

# **5. While Loop**

In [26]:
sum=0

while True:
  numbers=input()
  if numbers=="q":
    break
  else:
    t=int(numbers)
    sum=sum+t
print(sum)

1
2
3
q
6

In [4]:
22number=10

while number>0:
  print(number)
  number=number-1
print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [162]:
w=int(input("Enter a number: "))
x=0

while x<=10:
   print(w,"*",x,"=",w*x)
   x+=1

Enter a number: 2
2 * 0 = 0
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
2 * 10 = 20

# **6. For Loop**

In [46]:
fruit=["apple","banana","cherry","date"]

for l in fruit:
  print(l)

apple
banana
cherry
date

In [71]:
num=int(input("Enter a number: "))

factorial=1
for k in range(1,num):
  factorial=factorial*k
print("Factorial of", k, "is", factorial)

Enter a number: 6
Factorial of 5 is 120

In [13]:
a=int(input("Enter 1st number:"))
b=int(input("Enter 2nd number:"))
c=int(input("Enter 3rd number:"))
d=int(input("Enter 4th number:"))
e=int(input("Enter 5th number:"))

sum=a+b+c+d+e
lst=[a,b,c,d,e]
count=len(lst)
for p in range(a,e):
  avg=(sum)/count
print(avg)

Enter 1st number:1
Enter 2nd number:2
Enter 3rd number:3
Enter 4th number:4
Enter 5th number:5
3.0