# **1. List and Tuple**

In [9]:
##  Creating a fruit list

fruits=["Apple", "Banana","Cherry"]

##List into Tuple
tupl_e=tuple(fruits)

fruits.append("Orange") # adding items

fruits # display the output

['Apple', 'Banana', 'Cherry', 'Orange']

In [10]:
tupl_e # display the output

('Apple', 'Banana', 'Cherry')

# **2.Dictonary**

In [12]:
person={"First_name":"Alex","Last_name":"Lopez","Age":27} # Creating a dictionary

person["City"]="Miami" #addind a new key and a value to the list

person.keys() #print keys

dict_keys(['First_name', 'Last_name', 'Age', 'City'])

In [18]:
colors={"red","blue","green"} # Creating a set

colors.add("yellow") # adding a color to the set
colors.remove("blue") # removing one color

"pink" in colors #Verifying if pink is in the set

False

# **3.Conditional Statements**

In [20]:
numb=int(input("Number: ")) # asking user to prompt a number
if numb > 0:
   print("Positive number")    # using conditional statement
elif numb == 0:
   print("Zero")
else:
   print("Negative number")

Number: -5
Negative number

In [22]:
numbers=[23,45,8,12,78,56,89] # list of number

for i in numbers: # using for loop to display number
  if i%2==0:
    print(i)

8
12
78
56

In [23]:
age=int(input("How old are you? ")) #asking user to prompt the age

if age>=18:                       # using conditional statement to verify eligibility to vote
  print("You are eligible to vote")
else:
  print("You are not eligible to vote")

How old are you? 12
You are not eligible to vote

# **4.While loop**

In [27]:
num=(input("Enter a number: ")) #asking user to prompt a number
sum=0
while num!="q" :      # using whlie loop
  num=int(num)
  sum+=num
  num=(input("Enter a number: "))
print(sum)            #Display the output

Enter a number: 23
Enter a number: 34
Enter a number: 45
Enter a number: q
102

In [50]:
number = 10    # creating a variable

while number > 0:    #Using while loop
  print(number)
  number -= 1

print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

In [38]:
num=int(input("give me a number: ")) # asking user to prompt a number
multi=1
while multi<=16:     #Using while loop
  print(num,'times',multi,'=',multi*num) #Calculations
  multi+=1

give me a number: 12
12 times 1 = 12
12 times 2 = 24
12 times 3 = 36
12 times 4 = 48
12 times 5 = 60
12 times 6 = 72
12 times 7 = 84
12 times 8 = 96
12 times 9 = 108
12 times 10 = 120
12 times 11 = 132
12 times 12 = 144
12 times 13 = 156
12 times 14 = 168
12 times 15 = 180
12 times 16 = 192

# **5.For loop**

In [40]:
fruits1=["Apple", "Banana","Cherry","date"] ## creatin list of fruits

for i in fruits1: ##using for loop to display items in fruits
  print(i) ## output

Apple
Banana
Cherry
date

In [43]:
p=5 # creating  variable
result=p
for h in range(1,p):  # using for loop
 result= result*p #calculations
print(result) #display the output

3125

In [47]:
sum=0
for i in range(1,6): #Using for looop

 number=int(input("Number: "))
sum+=number
average=sum/5  # calculating the average
print(average) # display the output

Number: 2
Number: 3
Number: 4
Number: 6
Number: 5
1.0