# **Homework 4 - Data Structures, Conditional Statements, Loops**

## Data Structures

1. List and Tuple:
  - Create a list name **fruits** containing "apple", "banana", "cherry"
  - Convert this list into a tuple
  - Add "orange" to the list
  - Show the difference in the content of the list & tuple after the addition

In [ ]:
fruits = ["apple", "banana", "cherry"]

In [ ]:
tuple(fruits)

('apple', 'banana', 'cherry')

In [ ]:
fruits.append("orange")

In [ ]:
tuple(fruits)

('apple', 'banana', 'cherry', 'orange')

In [ ]:
list(fruits)

['apple', 'banana', 'cherry', 'orange']

2. Dictionary

- Create a dictionary named **person** with keys "first_name", "last_name" and "age"
- Add a new key value pair, "city" with a value of your choice
- Display the keys in the dictionary using a Python command

In [ ]:
person = {"first_name": "caca", "last_name": "poopoo", "age" : 23}

In [ ]:
person['city'] = "Taipei"

In [ ]:
person.keys()

dict_keys(['first_name', 'last_name', 'age', 'city'])

3. Set:

- Create a dictionary named **colors** with the values "red", "blue", "green"
-Add "yellow" to the set and remove "blue"
- Check if "pink" is in the set & display the result

In [ ]:
colors = {"red","blue", "green"}

In [ ]:
colors.add("yellow")
colors.remove("blue")
colors

{'green', 'red', 'yellow'}

In [ ]:
if "pink" in colors:
  print("True")
else:
  print("False")

False

## Conditional Statements

4. Write a python program that takes an input from the user & checks if the number is positive, negative or zero.

In [ ]:
num =int(input("Enter in a integer: "))

if num > 0:
  print("Integer entered is Positive")
elif num == 0:
  print("Integer entered is 0")
elif num < 0:
  print("Inteher entered is Negative")
else:
  print("Invalid")

Enter in a integer: 5
Integer entered is Positive

5. Given a list of numbers: [23,45,8,12,78,56,89], write a python program that prints numbers from the list using a conditional statements.

In [ ]:
list = [23,45,8,12,78,56,89]
print("Even numbers in list:")
for n in list:
  if n %2 == 0:
      print (n)

Even numbers in list:
8
12
78
56

6. Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote.

In [ ]:
age = int(input("Enter in your age: "))

if age >= 18:
  print("You can vote!")
else:
  print("You are not old enough to vote!")

Enter in your age: 16
You are not old enough to vote!

## While Loops

7. Write a program that prompts the user to enter numbers continously (use while loop) & to stop taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.

In [ ]:
nums= 0
sum = 0

while nums != 'q':
  nums = input("Enter in a number:")
  print("To quit, enter 'q'")
  if nums != 'q':
    sum += int(nums)


print("\n\nSum of all entries: ", sum)

Enter in a number:3
To quit, enter 'q'
Enter in a number:3
To quit, enter 'q'
Enter in a number:q
To quit, enter 'q'


Sum of all entries:  6

8. Create a python program using a while loop that prints numbers from 10 down to 1 & then prints 'LIFTOFF!'.

In [ ]:
x=10

while x > 0:
  print(x)
  x = x -1

print("LIFTOFF!")

10
9
8
7
6
5
4
3
2
1
LIFTOFF!

9.Create a program that asks the user for a number and then prints out the multiplication table for that number using a while loop.

In [ ]:
usernum = int(input("Please enter in a number: "))
print('\n')
x = 0
while x in range(0,13): # multiplication table from 0-12
  product = usernum*x
  print(usernum, '*', x, '=',product)
  x += 1

Please enter in a number: 5


5 * 0 = 0
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50
5 * 11 = 55
5 * 12 = 60

## For Loops

10. Given the list ['apple','banana','cherry','date'], use a for loop to print each fruit in the list.

In [ ]:
list = ["apple", "banana","cherry", "date"]
for fruits in list:
  print(fruits)

apple
banana
cherry
date

11. Using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5x4x3x2x1=120.

In [ ]:
num = int(input("Enter in a number: "))
product = num

for x in range(1,num):
  product = product*x
print("Factorial: ", product)

Enter in a number: 5
Factorial:  120

12. Create a program using a for loop that prompts the user to enter 5 numbers. After that, display the average of the numbers.

In [ ]:
total = 0
print("You will enter in 5 numbers\n")
for x in range(0,5):
  nums = int(input('Enter a number: '))
  total += nums

avg = total/5
print("\nAverage of entries:", avg)

You will enter in 5 numbers

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5

Average of entries: 3.0