##**1. List and Tuple**


*   Create a list named fruits containing the following: "apple", "banana", "cherry".

* Convert this list into a tuple
*  Add "orange" to the list of fruits
*  Show the difference in the content of the list and tuple after the addition

In [ ]:
fruits=["apple", "banana", "cherry"]
fruits_tuple= tuple(fruits)
fruits.append ("orange")
print ("List of fruits",fruits)

List of fruits ['apple', 'banana', 'cherry', 'orange']

In [ ]:
print ("Tuples of fruits", fruits)

Tuples of fruits ['apple', 'banana', 'cherry', 'orange']

##**2. Dictionary**


*   Create a dictionary named person
with keys "first_name", "last_name", and "age". Populate it with values of your choice.

*   Add a new key-value pair, "city" with a value of your choice.

*   Display the keys in the dictionary using a Python command.

In [ ]:
person={"first_name" : 'Olivia', "last_name" : 'Folly-Gah', "age" : 20}
person

{'first_name': 'Olivia', 'last_name': 'Folly-Gah', 'age': 20}

In [ ]:
person["city"]="Queens"
person

{'first_name': 'Olivia', 'last_name': 'Folly-Gah', 'age': 20, 'city': 'Queens'}

In [ ]:
person.keys()

dict_keys(['first_name', 'last_name', 'age', 'city'])

##**3. Set**



*   Create a set named colors with values "red", "blue, "green"

*   Add "yellow" to the set and remove "blue".

*   Check if "pink" is in the set and display the result.

In [ ]:
colors={"red", "blue", "green"}
colors

{'blue', 'green', 'red'}

In [ ]:
colors.add("yellow")

In [ ]:
colors

{'green', 'red', 'yellow'}

In [ ]:
"pink" in "colors"

False

In [ ]:
"pink" not in "colors"

True

##**Conditional Statements**

####4. Add "yellow" to the set and remove "blue"

In [ ]:
colors.add("yellow")
print (colors)

{'yellow', 'red', 'green'}

####5. Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even numbers from the list using a conditional statement.

In [ ]:
num=[23, 45, 8, 12, 78, 56, 89]

for n in num:
  if n%2==0:
    print(f"{n} is even")

8 is even
12 is even
78 is even
56 is even

####6. Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider voting age as 18)

In [ ]:
age= float(input("Enter age: "))

if (age>=18):
  print ("You are eligible to vote")
else:
  print ("You are not eligible to vote")

Enter age: 18
You are eligible to vote

In [ ]:
age= float(input("Enter age: "))

if (age>=18):
  print ("You are eligible to vote")
else:
  print ("You are not eligible to vote")

Enter age: 16
You are not eligible to vote

##**While Loop**

####7. Write a program that prompts the user to enter numbers continuously (using a while loop) and stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.

In [5]:
sum = 0

while True:
  num = input("Enter a number or 'q' to quit): ")

  if num == 'q':
    break

  sum += float(num)

print("Total sum:", sum)

Enter a number or 'q' to quit): 12
Enter a number or 'q' to quit): 34
Enter a number or 'q' to quit): 23
Enter a number or 'q' to quit): 67
Enter a number or 'q' to quit): q
Total sum: 136.0

####8. Create a Python program using a while loop that prints numbers from 10 down to 1 and then prints "Liftoff!"

In [ ]:
count=10

while count>= 1:
  print(count)
  count=count-1

print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

####9. Create a program that asks the user for a number and then prints out the multiplication table for that number using a while loop

In [7]:
number = int(input("Enter a number: "))
c = 1

while c <= 5:
    result = number * c
    print(f"{number} x {c} = {result}")
    c += 1

Enter a number: 7
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35

##**For Loop**

####10. Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list.

In [ ]:
list=["apple", "banana", "cherry", "date"]

for fruits in list:
  print(fruits)

apple
banana
cherry
date

####11. Using a loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120.

In [9]:
number = int(input("Enter a number: "))

factorial = 1
for i in range(1, number + 1):
    factorial *= i

print("The factorial of", number, "is", factorial)

Enter a number: 7
The factorial of 7 is 5040

####12. Create a program using a for loop that prompts the user to enter five numbers. After all numbers are entered, the program should display the average of the numbers.

In [ ]:
for i in range(5):
  num= float(input("Enter a number:"))
  total += num

Enter a number:8
Enter a number:9
Enter a number:2
Enter a number:3
Enter a number:1

In [ ]:
average = total/5
print("Average: ", average)

Average:  4.6