Rachel Le
1002193625

---

1. List and Tuple:

- Create a list named fruits containing the following: "apple", "banana", "cherry".
- Convert this list into a tuple.
- Add "orange" to the list of fruits.
- show the difference in the content of the list and tuple after hte addition.

In [1]:
fruits=['apple','banana','cherry'] #creation of list
fruits_t = tuple(fruits) #conversion of fruits list into a tuple
fruits.append('orange') #adding 'orange' to the fruits list
print (fruits) # showing fruits list after addition of orange
print (fruits_t) #showing fruits tuple

['apple', 'banana', 'cherry', 'orange']
('apple', 'banana', 'cherry')

---

2. Dictionary:

- Create a dictionary named person with keys "first_name", "last_name", and "age". Populate it with values of your choice.
- Add a new key-value pair, "city" with a value of your choice.
- Display the keys in the dictionary using a Python command.

In [2]:
person={'first_name':'Rachel','last_name':'Le','age': 26} #creation of dictionary
person['city']='Arlington' #addition of key-value pair
person.keys() #displaying keys from dictionary

dict_keys(['first_name', 'last_name', 'age', 'city'])

---

3. Set:

- Create a set named colors with values "red", "blue", "green".
- Add "yellow" to the set and remove "blue".
- Check if "pink" is in the set and display the result.

In [5]:
colors={'red','blue','green'} #creation of set
colors.add('yellow') #adding 'yellow' to set
colors.remove('blue') #removing 'blue' from set
print(colors) #checking that previous addition/removal occurred
'pink' in colors #checking if 'pink' appears in colors set

{'green', 'red', 'yellow'}

False

---

Conditional Statements:

4. Write a Python program that takes an input from the user and checks if the number is positive, negative, or zero.

In [8]:
num=int(input("Enter a number:")) #code for user input for an integer
if num > 0:
  print("positive") #if statement for if number is positive
elif num < 0:
  print("negative") #if else statement for if number is negative
elif num==0:
  print(zero) #if else statement for if number is zero

Enter a number:2
positive

5. Given a list of numbers: [23,45,8,12,78,56,89], write a Python program that prints out all even numbers from the list using a conditional statement.

In [10]:
nums=[23,45,8,12,78,56,89] #creating list of numbers
for i in nums: #for loop for each value in list
  if i%2==0:  #if statement to determine if number is even
    print(i) #prints value in list if the 'if statement' is true

8
12
78
56

6. Write a program that asks the user to enter their age. Based on the user's input, determine if they are eligible to vote (consider the voting age as 18).

In [12]:
age=int(input("Enter your age:")) #creating user input asking for user's age
if age>=18: #if statement to determine if age is 18 or older
  print("You are eligible to vote") #message for when user is eligible to vote
else:
  print("You are not eligible to vote yet") #message if user is not eligible to vote

Enter your age:26
You are eligible to vote

---

While Loop:

7. Write a program that prompts the user to enter numbers continuously (using a while loop) and stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.

In [15]:
num=(input("Enter a number:")) #asking for user input
sum=0 #creating a variable to be used to sum all numbers
while num!='q': #while loop looking for whether user has input 'q'
  num=int(num) #turns user input into a integer value
  sum+=num #adds the number into the sum total
  num=(input("Enter a number:")) #prompts user to input another number
print(sum) #prints sum of all user inputs once user inputs 'q'

Enter a number:2
Enter a number:3
Enter a number:4
Enter a number:1
Enter a number:1
Enter a number:q
11

8. Create a Python program using a while loop that prints numbers from 10 down to 1 and then prints "Liftoff!".

In [18]:
num=10 #setting up count down for while loop
while num<=10 and num>0: #while loop for count down from 10, num>0 to prevent code for going on continuously into the negative
  print(num) #prints the number, aka the count down
  num-=1 #sets up for next loop by lowering number by 1
print("Liftoff!") #once while loop is complete prints message

10
9
8
7
6
5
4
3
2
1
Liftoff!

9. Create a program that asks the user for a number and then prints out the multiplication table for that number using a while loop.

In [21]:
num=int(input("Enter a number:")) #getting user input
mult=1
while mult<=12: #while loop set up for multiplication table for 1-12 of the input number
  print(num, 'times', mult, '=', mult*num) #giving the multiplication value
  mult+=1

Enter a number:3
3 times 1 = 3
3 times 2 = 6
3 times 3 = 9
3 times 4 = 12
3 times 5 = 15
3 times 6 = 18
3 times 7 = 21
3 times 8 = 24
3 times 9 = 27
3 times 10 = 30
3 times 11 = 33
3 times 12 = 36

---

For Loop:

10. Given a list:['apple','banana','cherry','date'], use a for loop to print each fruit in the list.

In [22]:
fruit=['apple','banana','cherry','date'] #creating list of fruits
for i in fruit: #for loop for each element in fruit list
  print(i) #print the element in fruit list

apple
banana
cherry
date

11. Using a for loop, calculate the factorial of a given number (n!). For example, if the given number is 5, the output should be 5x4x3x2x1=120.

In [31]:
n=5 #given number for calculation
output=n #variable needed for 'for loop' calculations to work
for i in range(1,n): #for loop going from 1 to n-1
  output=output*i
print(output) #printing factorial

120

12. Create a program using a for loop that prompts the user to enter five numbers. After all numbers are entered, the program should display the average of the numbers.

In [34]:
sum=0 #variable created to keep track of the sum of the user's inputs
for i in range(1,6): #for loop that repeats 5 times asking for user to input a number
  num=int(input("Enter a number:")) #asking for user input within loop
  sum+=num #adding user's input into sum total
average=sum/5 #calculating the average of all the user's inputs
print(average) #printing the results

Enter a number:2
Enter a number:3
Enter a number:4
Enter a number:5
Enter a number:6
4.0

In [ ]:
34