### Zamzam Omulo

##1. List and Tuple:
*○ Create a list named fruits containing the following: "apple", "banana", "cherry".*
*○ Convert this list into a tuple.*
*○ Add "orange" to the list of fruits.*
*○ Show the difference in the content of the list and tuple after the addition.*

In [2]:
fruits=["apple","banana","cherry"]
tuple(fruits)
fruits.append("orange")

In [3]:
fruits

['apple', 'banana', 'cherry', 'orange']

#. Dictionary:#
###○ Create a dictionary named person with keys "first_name", "last_name", and "age".
##Populate it with values of your choice.
###○ Add a new key-value pair, "city" with a value of your choice.
###○ Display the keys in the dictionary using a Python command.

In [36]:
person={"first_name": "last_name""age"}

In [37]:
person.keys()

dict_keys(['first_name'])

In [38]:
person.values()

dict_values(['last_nameage'])

In [39]:
person["city"]= "Arlington"
person["state"]="Texas"

In [40]:
person.keys()

dict_keys(['first_name', 'city', 'state'])

# Set:#
###○Create a set named colors with the values "red", "blue", "green".
###○ Add "yellow" to the set and remove "blue".
###○ Check if "pink" is in the set and display the result.

In [46]:
colors={"red","blue","green"}
colors.add("yellow")

if 'pink' in colors:
  print("Pink is in colors")
else:
  print("Sorry not in colors")

Sorry not in colors

4. Write a Python program that takes an input from the user and checks if the number is positive,
negative, or zero.

In [64]:
x=0

if x>=0:
  print("Number is positive")
else:
  print("Number is negative")

Number is positive

. Given a list of numbers: [23, 45, 8, 12, 78, 56, 89], write a Python program that prints out all even
numbers from the list using a conditional statement.

In [87]:
list=[23,45,8,12,78,56,89]

for i in list:
  if (i %2 ==0):
    print(i)

8
12
78
56

Write a program that asks the user to enter their age. Based on the user's input, determine if they
are eligible to vote (consider the voting age as 18).

In [88]:
age=int(input("Enter age:"))

if age>=18:
  print("Able to vote")
else:
  print("wait till 18")

Enter age:5
wait till 18

7. Write a program that prompts the user to enter numbers continuously (using a while loop) and
stops taking inputs when the user enters 'q'. After that, display the sum of all the numbers entered.

In [91]:
num=""

while num !='q':
  num=(input())
  print(num)

5
5
q
q

Create a Python program using a while loop that prints numbers from 10 down to 1 and then
prints "Liftoff!".

In [129]:
count=10

while count>0:
  print("count",count)
  count=count-1

print("Lift off")

count 10
count 9
count 8
count 7
count 6
count 5
count 4
count 3
count 2
count 1
Lift off

Create a program that asks the user for a number and then prints out the multiplication table for
that number using a while loop.

In [109]:
num=(input())
i=1

while i<=5:
  product=num*i
  print(num,"*",i, "=",product,"\n")
  i=i+1

print("\n")
num=num*1

1
1 * 1 = 1

1 * 2 = 11

1 * 3 = 111

1 * 4 = 1111

1 * 5 = 11111

0. Given a list: ["apple", "banana", "cherry", "date"], use a for loop to print each fruit in the list.

In [110]:
fruit=["apple","banana","cherry","date"]

for i in fruit:
  print(i)

apple
banana
cherry
date

Using a for loop, calculate the factorial of a given number (n!). For example, if the given number
is 5, the output should be 5 x 4 x 3 x 2 x 1 = 120.

In [128]:
def factorial(n):
  result=1
  for i in range(1,i+1):
    result=result*i
  print("result")

2. Create a program using a for loop that prompts the user to enter five numbers. After all numbers
are entered, the program should display the average of the numbers

In [44]:
nums=[]

for i in range(5):
  num=int(input("Enter number"))
  nums.append(num)

print('(sum)/5')

Enter number1
Enter number2
Enter number3
Enter number4
Enter number5
(sum)/5