For question 7 and 12, please run them on a different notebook. Running them in same notebook may cause error in output

#QUESTION1

In [3]:
#The list
fruits_list = ["apple", "banana", "cherry"]

# The tuple
fruits_tuple = tuple(fruits_list)

#Adding Orange
fruits_list.append("orange")

#List vs tuple
print("List:", fruits_list)
print("Tuple:", fruits_tuple)

List: ['apple', 'banana', 'cherry', 'orange']
Tuple: ('apple', 'banana', 'cherry')

#Question2

In [4]:
# Starting Dictionary
person = {
      "first_name": "Turza",
      "last_name": "Saha",
      "age": 21
      }

#Key-value pair of city
person["city"] = "Dhaka"

# Keys of dictionary
print("Keys :", person.keys())

Keys : dict_keys(['first_name', 'last_name', 'age', 'city'])

#Question3

In [8]:
#set of colors
colors = {'red','blue','green'}
#adding yellow and remove blue
colors.add('yellow')
colors.remove('blue')
print(colors)
#result of pink or not
pink_or_not = 'pink' in colors
print("Is pink in the set?", pink_or_not)

{'yellow', 'red', 'green'}
Is pink in the set? False

#QUESTION 4

In [12]:
#Take the number and change string input to integer
number = input("Enter a number")
number = int(number)

#Conditional statements for positive, 0 or else negative:
if number>0 :
  print("The input is positive")
elif number == 0:
  print("The number is 0")
else:
  print("The number is negative")

Enter a number0
The number is 0

#Question 5

In [16]:
list = [23, 45, 8, 12, 78, 56, 89]

#For each item in list
for i in list:
  #if modulus by 2 is 0 means even and thus be printed
  if i%2 == 0:
    print(i)

8
12
78
56

#QUESTION6

In [19]:
#Similar to numbner 4, Take the age and change string input to integer
number = input("Enter your age")
number = int(number)

#Conditional statements for less than 18, or else elligible to vote
if number<18 :
  print("You are not elligible to vote")
else:
  print("You are elligible to vote")

Enter your age18
You are elligible to vote

#QUESTION7

In [41]:
number = input("Enter a number")
sum = 0
while(number!='q'):
    #continue while loop as long as not q
    #change string input to integer input, and add to sum
    int_num = int(number)
    sum += int_num
    number =  input("Enter a number again or 'q' to quit")

print(f"The sum is {sum}")

Enter a number5

TypeError: ignored

#QUESTION8

In [29]:
count = 10
#while loop till count reaches 0 from 10 by an decrement of one once
while count > 0:
    print(count)
    count -= 1

print("Liftoff!")

10
9
8
7
6
5
4
3
2
1
Liftoff!

#QUestion9

In [42]:
number = input("Enter a number")
int_num = int(number)
limit = 15 #this has been hardcoded, can be changed
counter =1
while counter <= limit :
  product = counter*int_num
  print(f"{counter} X {int_num} = {product}")
  counter+=1

Enter a number4

TypeError: ignored

#Question10

In [31]:
list = ["apple", "banana", "cherry", "date"]
for item in list:
  print(item)

apple
banana
cherry
date

#QUESTION11

In [36]:
given_number = 10
product = 1

for integer in range(1,given_number+1):
  product *= integer

print(product)

3628800

#QUESTION12

In [39]:
sum = 0
for i in range(5):
  number = input("Enter a number")
  int_number = int(number)
  sum += int_number

average = sum/5

print(average)

Enter a number5

TypeError: ignored