# **Data Structures**

# **1. List and Tuple**

In [3]:
fruits=['apple','banana','cherry']

In [4]:
fruits_t=tuple(fruits)

In [5]:
fruits.append('orange')

In [6]:
print(fruits)

['apple', 'banana', 'cherry', 'orange']

In [7]:
print(fruits_t)

('apple', 'banana', 'cherry')

# **2.Dictionary**

In [8]:
person={'first_name':'Angelina',"Last_Name":"Noel","age":20}

In [9]:
person["city"]="El Paso"

In [10]:
person.keys()

dict_keys(['first_name', 'Last_Name', 'age', 'city'])

# **3.Set**

In [11]:
colors={"red","blue","green"}

In [12]:
colors.add("yellow")

In [13]:
colors.remove('blue')

In [14]:
print(colors)
"pink" in colors

{'red', 'green', 'yellow'}

False

---
---
# **Conditional Statements**

# **4.**

In [16]:
num=int(input("enter a number:"))
if num>0:
  print("positive")
elif num<0:
  print("negative")
elif num==0:
  print(zero)

enter a number:2
positive

# **5.**

In [1]:
nums=[23,45,8,12,78,56,89]
for i in nums:
  if i%2==0:
    print(i)

8
12
78
56

# **6.**

In [2]:
age=int(input("enter your age:"))
if age>=18:
  print("You are elifible to vote")
else:
  print("You are not eligible to vote yet")

enter your age:20
You are elifible to vote

---
---
# **While Loop**

# **7.**

In [5]:
num=(input("Enter a number:"))
sum=0
while num!='q':
  num=int(num)
  sum+=num
  num=(input("Enter a number"))
print(sum)

Enter a number:2
Enter a number3
Enter a number4
Enter a number5
Enter a number6
Enter a numberq
20

# **8**

In [6]:
num=10
while num<=10 and num>0:
  print(num)
  num-=1
print("Liftoff")

10
9
8
7
6
5
4
3
2
1
Liftoff

# **9.**

In [8]:
num=int(input("Enter a number:"))
mult=1
while mult<=12:
  print(num,'times',mult,'=',mult*num)
  mult+=1

Enter a number:3
3 times 1 = 3
3 times 2 = 6
3 times 3 = 9
3 times 4 = 12
3 times 5 = 15
3 times 6 = 18
3 times 7 = 21
3 times 8 = 24
3 times 9 = 27
3 times 10 = 30
3 times 11 = 33
3 times 12 = 36

---
---
# **For Loop:**

# **10.**

In [10]:
fruit=['apple','banana','cherry','date']
for i in fruit:
  print(i)

apple
banana
cherry
date

# **11.**

In [13]:
n=5
output=n
for i in range(1,n):
  output=output*i
print(output)

120

# **12.**

In [15]:
sum=0
for i in range(1,6):
  num=int(input("enter a number:"))
  sum+=num
average=sum/5
print(average
      )

enter a number:2
enter a number:3
enter a number:4
enter a number:5
enter a number:6
4.0