# **Week 12. Homework 8. Pandas**



---



---



---


1. Load the dataset into a pandas DataFrame and display the first few rows.



---



---


2. Find the number of rows and columns in the dataset.




---


---

3. Check for missing values in each column and handle them appropriately.




---


---

4. Calculate the mean, median, and standard deviation of the 'R&D_Spend' column.




---


---

5. Filter and create a new DataFrame containing companies located in a **California**.




---


---

6. Sort the dataset by 'Profit' in descending order.




---


---

7. Group the data by 'State' and calculate the total 'Profit' for each state.




---


---

8. Create a bar chart to visualize the total 'Profit' by 'State.'




---


---

9. Calculate the correlation between 'R&D_Spend' and 'Profit.'



---



---



---

10. Create a new column 'Total_Spend' that represents the sum of 'R&D_Spend,' 'Administration,' and 'Marketing_Spend' for each company.

11. Calculate the average **R&D_Spend**, **Administration**, and **Marketing_Spend** for companies located in each **State**



---



---

12. Create a histogram to visualize the distribution of 'Profit.'



---



---

13. Filter the dataset to include only companies with 'R&D_Spend' greater than a 12000.



---



---

14. Calculate the total 'Profit' for companies with 'Marketing_Spend' above a certain threshold.

15. Replace any missing values in the 'Marketing_Spend' column with the mean spending of the dataset.




---


---

16. Create a new column 'Profit_Margin' that represents the profit margin for each company (Profit / Total_Spend).



---



---



---

17. Sort the dataset by 'Profit_Margin' in descending order.



---



---

18. Calculate the average profit margin for companies in each 'State' and create a bar chart to display it.



---



---



---

19. Find the maximum 'R&D_Spend' in each **State**.