# **Week 12. Homework 8. Pandas**



---



---



---


1. Load the dataset into a pandas DataFrame and display the first few rows.

In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [ ]:
df=pd.read_csv(r"C:\Users\Feyruz Habteab\Documents\Fall'23\Startups.csv")


## It was working at first but i wans't able to load the dataset into the dataframe
## I have done all the solutions but i wasn't able to pull the file and i have tried it in a every way.

In [ ]:

row_and_col_count=df.shape[0]
print(row_and_col_count)




---


---

3. Check for missing values in each column and handle them appropriately.

In [ ]:
print("missing values:")
df.isnull()

In [ ]:
df_ffill=df.fillna(method='ffill')
print(df_ffill)

4. Calculate the mean, median, and standard deviation of the 'R&D_Spend' column.

In [ ]:

print(df.mean(axis="R&D_Spend"))

print(df.median(axis="R&D_Spend"))

print(df["R&D_Spend"].std())




---


---

5. Filter and create a new DataFrame containing companies located in a **California**.

In [ ]:
Cali_companies=df[(df["State"]=="California")]

Cali_companies




---


---

6. Sort the dataset by 'Profit' in descending order.

In [ ]:
sorted_df=df.sort_values(["Pofit"], descending=True)

print(sorted_df)




---


---

7. Group the data by 'State' and calculate the total 'Profit' for each state.

In [ ]:
Group_by_state=df.groupby(["State"]).sum()




---


---

8. Create a bar chart to visualize the total 'Profit' by 'State.'

In [ ]:

df=pd.DataFrame("Startups.csv")
df




---


---

9. Calculate the correlation between 'R&D_Spend' and 'Profit.'

In [ ]:

corr= df["R&D_Spend"].corr(df["Profit"])

print(corr)



---



---



---

10. Create a new column 'Total_Spend' that represents the sum of 'R&D_Spend,' 'Administration,' and 'Marketing_Spend' for each company.

In [ ]:

df["Total_Spend"]=df["R&D_Spend","Administration","Marketing_Spend"].sum()

print(df)

11. Calculate the average **R&D_Spend**, **Administration**, and **Marketing_Spend** for companies located in each **State**

In [ ]:

Ave=df[["R&D_Spend","Administration","Marketing_Spend"]].mean()
print(Ave)



---



---

12. Create a histogram to visualize the distribution of 'Profit.'

In [ ]:

df["Profit"].plot(kind="box")



---



---

13. Filter the dataset to include only companies with 'R&D_Spend' greater than a 12000.

In [ ]:
filter_companies=(df["R&D_Spend"]>12000)

print(filter_companies)



---



---

14. Calculate the total 'Profit' for companies with 'Marketing_Spend' above a certain threshold.

In [ ]:


total_profit=df[["Marketing_Spend"]>=200000]=df["Profit"].sum()


print(total_profit)

15. Replace any missing values in the 'Marketing_Spend' column with the mean spending of the dataset.

In [ ]:


df["Marketing_Spend"].fillna(df.mean())

df




---


---

16. Create a new column 'Profit_Margin' that represents the profit margin for each company (Profit / Total_Spend).

In [ ]:


df["Profit_Margin"]=df["profit"].apply(lambda x: x/sum("R&D_Spend"))


print(df)



---



---



---

17. Sort the dataset by 'Profit_Margin' in descending order.

In [ ]:


sort_dataset=df.sort_values(["Profit_Margin"], descending=True)


print(sort_dataset)



---



---

18. Calculate the average profit margin for companies in each 'State' and create a bar chart to display it.

In [ ]:

print(average_profit=df["Profit_Margin"].mean())


print(pd.DataFrame(average_profit))



---



---



---

19. Find the maximum 'R&D_Spend' in each **State**.

In [ ]:
Max_spending=df["R&D_Spend"].max()

max_rd_spend=df[df.groupby(["State"])]=df["R&D_Spend"].max()